@import "./base";

$color-primary-white: #ffffff;
$color-secondary-black: #090909;
$color-tertiary-red: #dc2121;
$color-hover-grey: #f3f3f3;
$color-text-grey: #626262;
$color-border-grey: #cecece;
$color-focus-grey: #acacac;

body {
  background: $color-primary-white;

  &.active {
    overflow: hidden;
  }
}

html {
  font-size: 6px;
}

a {
  text-decoration: none;
  color: $color-secondary-black;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid $color-focus-grey;
}

input {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid $color-border-grey;
}

h1 {
  font-size: calc(3.3rem + 0.5vw);
}

h2 {
  font-size: calc(1.3rem + 0.5vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}

h4 {
  font-size: calc(1.6rem + 0.5vw);
}

.error__p {
  color: $color-tertiary-red;
  font-size: calc(0.6rem + 0.5vw);
  padding-top: 3px;
}

/* 1. General */

* {
  font-family: "Lato", sans-serif;
}

.home,
.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 4vh repeat(22, 1fr) 7vh/ 5vw repeat(10, 1fr) 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
}

.logo-container {
  grid-area: 3 / 2 / span 2 / span 2;
}

.logo {
  grid-area: 3 / 2 / span 1 / span 1;
  width: 6vw;
}

.scroll-info {
  top: 60vh;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  width: 15vw;
  display: grid;
  cursor: pointer;

  h3 {
    color: $color-primary-white;
    grid-area: 1 / 1 / span / span 1;
    line-height: normal;
  }

  div {
    height: 2px;
    width: 0%;
    grid-area: 1 / 1 / span / span 1;
    align-self: end;
    background: $color-primary-white;
    animation: expand 3s alternate-reverse infinite;
  }

  @keyframes expand {
    0% {
      width: 65%;
    }

    100% {
      width: 100%;
    }
  }
}

.form-overflow {
  display: grid;
  overflow-y: scroll;
  box-sizing: border-box;
  row-gap: 20px;
  max-height: 33vh;
  width: calc(100% + 5px);

  label {
    display: grid;
    width: calc(100% - 5px);

    input,
    button {
      width: calc(100% - 15px) !important;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-primary-white;
    width: 1px;
    border: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-secondary-black;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.newsletter-info {
  background: $color-primary-white;
  height: 4vh;
  width: 100vw;
  grid-area: 1 / 1 / span 12 / span 12;
  display: grid;
  place-items: center;
  border-bottom: 1px solid $color-secondary-black;
  z-index: 4;
  position: fixed;
  top: 0;

  &__carousel {
    color: $color-secondary-black;

    &__link {
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
    }

    &__link:hover {
      color: $color-tertiary-red;
    }
  }
}

.checkout {
  grid-area: 2 / 2 / span 2 / span 1;
  width: 63%;
  background: $color-primary-white;

  &__form {
    display: grid;
    row-gap: 20px;
    grid-template: 5vh auto / 1fr;
    height: auto;

    &__personal-data {
      display: grid;
      row-gap: 5px;
      border-bottom: 1px solid $color-border-grey;
      padding-bottom: 15px;



      &.active {
        row-gap: 30px;

        .checkout__form__personal-data__tooltip {
          h4 {
            font-weight: 600;
          }
        }
      }

      &__tooltip {
        display: grid;
        grid-template: 1fr / auto 1fr;
        column-gap: 15px;

        h4 {
          font-weight: 400;
        }

        .arrow {
          grid-area: 1 / 2 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;

          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }
      }

      &__content {
        display: grid;
        row-gap: 15px;


        .nav-link {
          height: calc(6rem + 0.5vw);
          width: 100%;
          align-self: end;

          button {
            align-self: end;
            background: $color-secondary-black;
            color: $color-primary-white;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .past {
      padding: 15px;
      background: #fafafa;
      display: grid;
      row-gap: 5px;

      h3 {
        font-weight: 400;
      }
    }

    &__delivery {
      display: grid;
      row-gap: 5px;
      border-bottom: 1px solid $color-border-grey;
      padding-bottom: 15px;

      &.active {
        row-gap: 30px;

        .checkout__form__delivery__tooltip {
          h4 {
            font-weight: 600;
          }
        }
      }

      &__tooltip {
        display: grid;
        grid-template: 1fr / auto 1fr;
        column-gap: 15px;

        h4 {
          font-weight: 400;
        }

        .arrow {
          grid-area: 1 / 2 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;

          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }
      }

      &__content {
        display: grid;
        row-gap: 20px;

        .nav-link {
          height: calc(6rem + 0.5vw);
          width: 100%;
          align-self: end;

          button {
            align-self: end;
            background: $color-secondary-black;
            color: $color-primary-white;
            height: 100%;
            width: 100%;
          }
        }

        .switch {
          position: relative;
          display: inline-block;
          height: calc(3rem + 0.5vw);
          width: auto;
          justify-self: end;
          display: grid;
          align-items: center;
          grid-template: 1fr / auto auto;
          column-gap: 10px;

          h3 {
            grid-area: 1 / 1 / span 1 / span 1;
          }

          input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
              background-color: $color-tertiary-red;
            }

            &:focus + .slider {
              box-shadow: 0 0 1px $color-tertiary-red;
            }

            &:checked + .slider:before {
              -webkit-transform: translateX(calc(1.5rem + 0.5vw - 4px));
              -ms-transform: translateX(calc(1.5rem + 0.5vw - 4px));
              transform: translateX(calc(1.5rem + 0.5vw - 4px));
            }
          }

          .slider {
            position: relative;
            cursor: pointer;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            width: calc(5rem + 0.5vw);
            height: calc(3rem + 0.5vw);
            grid-area: 1 / 2 / span 1 / span 1;

            &::before {
              position: absolute;
              content: "";
              height: calc(3rem + 0.5vw - 2px);
              width: calc(3rem + 0.5vw - 2px);
              left: 1px;
              top: 1px;
              background-color: white;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }

            &.round {
              border-radius: calc(3rem + 0.5vw);

              &::before {
                border-radius: 50%;
              }
            }
          }
        }
        .checkout__form__line-1 {
          padding-top: 10px;
          grid-area: 1 / 1 / span 1 / span 1;
        }

        &__list-header {
          grid-template: 1fr / 2fr 1fr 1fr calc(5rem + 0.5vw);
          display: grid;
        }

        &__address {
          display: grid;
          grid-auto-flow: row;
          row-gap: 15px;

          .else.active,
          .inpost.active {
            display: grid;
          }

          .else,
          .inpost {
            display: none;
          }
        }

        &__list {
          display: grid;
          row-gap: 15px;

          li {
            display: grid;
            row-gap: 10px;
            grid-template: 1fr / 2fr 1fr 1fr auto;
            align-items: center;

            img {
              height: calc(5rem + 0.5vw);
            }

            label {
              display: grid;
              grid-template: 1fr / calc(2rem + 0.5vw) 1fr auto;
              align-items: center;
              column-gap: 15px;

              input {
                height: calc(2rem + 0.5vw);
                justify-self: start;
                margin: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &__payment {
      display: grid;
      row-gap: 5px;
      border-bottom: 1px solid $color-border-grey;
      padding-bottom: 15px;

      &.active {
        row-gap: 30px;

        .checkout__form__payment__tooltip {
          h4 {
            font-weight: 600;
          }
        }
      }

      &__tooltip {
        display: grid;
        grid-template: 1fr / auto 1fr;
        column-gap: 15px;

        h4 {
          font-weight: 400;
        }

        .arrow {
          grid-area: 1 / 2 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;

          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }
      }

      &__content {
        display: grid;
        row-gap: 15px;

        
          &__list {
            display: grid;
            grid-row-gap: 15px;
            row-gap: 15px;

            li {
              display: grid;
              grid-row-gap: 10px;
              row-gap: 10px;
              grid-template: 1fr/2fr 1fr 1fr;
              align-items: center;

              img {
                height: calc(5rem + 0.5vw);
              }
  
              label {
                display: grid;
                grid-template: 1fr / calc(2rem + 0.5vw) 1fr auto;
                align-items: center;
                column-gap: 15px;
  
                input {
                  height: calc(2rem + 0.5vw);
                  justify-self: start;
                  margin: 0;
                  cursor: pointer;
                }
              }

              .nav-link {
                height: calc(6rem + 0.5vw);
                width: 100%;
                align-self: end;
                grid-area: 4 / 1 / span 1 / span 3;
      
                button {
                  align-self: end;
                  background: $color-secondary-black;
                  color: $color-primary-white;
                  height: 100%;
                  width: 100%;
                }
              }

            }
          }
        
      }
    }

    input {
      height: calc(4rem + 0.5vw);
      width: 100%;
      padding-left: 10px;
    }

    &__line {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;

      label {
        width: 100%;

        h3 {
          padding: 5px 0;
        }

        input {
          width: calc(100% - 10px);
          padding-right: 0;
        }
      }

      &-1 {
        grid-area: 2 / 1 / span 1 / span 1;
      }
    }

    &__phone,
    &__code,
    &__country {
      width: calc(20rem + 0.5vw);
    }
  }

  &__edit {
    justify-self: end;
    text-decoration: underline;
    cursor: pointer;
  }

  &__summary {
    position: fixed;
    background: #fafafa;
    width: 25vw;
    right: 0;
    top: 0;
    height: 70vh;
    z-index: 0;
    padding: 15vh 3vw;
    display: grid;
    grid-template: 10vh auto 5vh 5vh/1fr;
    align-items: center;
    row-gap: 10px;

    &__edit {
      position: fixed;
      right: 3vw;
      text-decoration: underline;
      cursor: pointer;
    }

    &__list {
      align-self: start;

      li {
        grid-area: 2/1 / span 1 / span 1;
        display: grid;
        padding: calc(0rem + 0.5vw) 0;
        align-items: center;
        grid-template: 1fr auto/3fr 1fr 1fr;
        align-items: start;
        row-gap: 20px;

        .cart__info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 5px;

          h3 {
            color: $color-focus-grey;
            font-weight: 400;
            font-size: calc(0.8rem + 0.5vw);
          }
        }

        .cart__items {
          grid-area: 1 / 2 / span 1 / span 1;
        }

        .cart__total {
          grid-area: 1 / 3 / span 1 / span 1;
          text-align: right;
        }

        .cart__line {
          height: 1px;
          background: $color-hover-grey;
          width: 100%;
          grid-area: 2 / 1 / span 1 / span 3;
        }
      }
    }

    &__total {
      display: grid;
      grid-auto-flow: column;
      align-self: start;

      &__title {
        font-weight: 600;
      }

      &__value {
        justify-self: end;
      }

      &__items {
        justify-self: center;
      }
    }

    &__shipping {
      display: grid;
      grid-auto-flow: column;



      &__value {
        justify-self: end;
      }

    }
  }
}

.newsletter {
  display: none;
  row-gap: 10px;

  input[type="text"] {
    height: calc(6rem + 0.5vw);
    grid-area: 3 / 1 / span 1 / span 1;
    padding-left: 10px;
    display: block;
  }

  &__checkbox-container {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    align-items: center;
    grid-template: 1fr / auto 1fr;

    input[type="checkbox"] {
      grid-area: 1 / 1 / span 1 / span 1;
    }
  }

  h2 {
    width: 80%;
    grid-area: 1 / 1 / span 1 / span 1;
    display: block;
  }

  &.newsletter button {
    grid-area: 3 / 1 / span 1 / span 1;
    width: calc(6rem + 0.5vw + 2px);
    height: 100%;
    justify-self: end;
    background: $color-secondary-black;
    display: grid;
    place-items: center;

    svg {
      height: 40%;

      path {
        fill: $color-primary-white;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  &.active {
    display: block;
  }
}

.info-font {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.imgCasablanca-1 {
  grid-area: 1 / 7 / span 25 / span 6;
  width: 40vw;
  justify-self: end;
}

.imgCasablanca-2 {
  grid-area: 15 / 3 / span 9 / span 4;
  width: 12vw;
  justify-self: start;
  align-self: end;
}

.imgCasablanca-3 {
  grid-area: 1 / 5 / span 5 / span 4;
  width: 10vw;
  justify-self: start;
}

/* 2. Desktop */

.main-menu {
  display: grid;
  justify-items: start;
  grid-area: 6 / 2 / span 3 / span 4;
  width: fit-content;
  align-items: center;

  li {
    height: calc(6.6rem + 0.5vw);
    cursor: pointer;
  }
}

.menu-font {
  font-size: calc(1.6rem + 0.5vw);
  font-weight: 600;

  &:hover {
    color: $color-tertiary-red;
  }
}

.bottom-info {
  width: 90vw;
  position: fixed;
  bottom: 0;
  height: 7vh;
  border-top: 1px solid $color-border-grey;
  background: $color-primary-white;
  z-index: 2;
  align-self: end;
  display: grid;
  grid-template: 1fr / repeat(2, auto);
  align-items: center;
  padding: 0 5vw;

  &__links {
    justify-self: start;
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    justify-items: start;
    column-gap: 3vw;
  }

  &__copyrights {
    justify-self: end;
  }
}

.link {
  cursor: pointer;
  border-color: $color-secondary-black;
  border-bottom-width: 1px;
  border-style: solid;
}

.link-2:hover {
  color: $color-tertiary-red;
  border-color: $color-tertiary-red;
}

.link-1:hover {
  opacity: 0.9;
}

h2.Casablanca {
  grid-area: 13 / 5 / span 5 / span 3;
  width: 90%;
}

h2 {
  text-align: left;
  font-size: calc(1.3rem + 0.5vw);
  line-height: normal;
  font-weight: 400;
}

a.Casablanca {
  grid-area: 18 / 6 / span 1 / span 4;
  font-size: calc(2rem + 0.5vw);
  align-self: end;
  background: $color-tertiary-red;
  line-height: 200%;
  text-align: right;
  padding-right: calc(1rem + 0.5vw);
  color: $color-primary-white;
  border: none;
}

div.Casablanca {
  grid-area: 11 / 5 / span 2 / span 3;
  height: calc(3.3rem + 0.5vw);
  border-bottom: 2px solid $color-secondary-black;
}


.about {
  .top-menu {
    display: grid;
    grid-template: 4vh auto/1fr;
    z-index: 5;
    justify-self: end;
    align-self: start;
    right: 30px;
    position: absolute;
    top: 10px;
      &__icon {
        padding: 0;
        height: 2vh;
      }
  }
}

.about-desc {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  row-gap: 10px;
  grid-area: 14 / 2 / span 8 / span 4;
}

.about__carousel {
  position: absolute;
  left: 50vw;
  width: 40vw;
  display: grid;
  row-gap: 10px;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 50px;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-primary-white;
    width: 1px;
    border: 1px solid $color-secondary-black;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-secondary-black;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  img {
    width: 100%;
  }
}

.top-menu {
  li a {
    border-bottom: none;
  }

  li a.is-active.menu-font {
    color: $color-tertiary-red;
  }
}

.contact {
  overflow-y: auto;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 8vh repeat(2, auto) 7vh/ 5vw 1fr 1fr 5vw;
  top: 0;
  position: absolute;
  row-gap: 20px;

  .top-menu {
    grid-area: 1/6/span 1/span 1;
    display: grid;
    grid-template: 4vh auto/1fr;
    z-index: 5;
    justify-self: end;
    align-self: start;
    right: 30px;
    position: absolute;
    top: 10px;
      &__icon {
        padding: 0;
        height: 2vh;
      }
  }

  .logo-container {
    grid-area: 2/2/span 1/span 1;
  }

  &__general {
    grid-area: 3 / 2 / span 1 / span 1;
    padding-right: 50px;
    display: grid;
    height: auto;
    row-gap: 15px;
    align-items: end;
    align-self: end;
    padding-bottom: 50px;

    &__img {
      grid-area: 1 / 3 / span 4 / span 1;
      width: 70%;
      align-self: center;
    }
  }
}

.terms {

  .top-menu {
    grid-area: 1/6/span 1/span 1;
    display: grid;
    grid-template: 4vh auto/1fr;
    z-index: 5;
    justify-self: end;
    align-self: start;
    right: 30px;
    position: absolute;
    top: 10px;
      &__icon {
        padding: 0;
        height: 2vh;
      }
  }

  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 8vh repeat(2, auto) 7vh/ 5vw 1fr 1fr 5vw;
  top: 0;
  position: absolute;
  row-gap: 20px;

  .logo-container {
    grid-area: 2/2/span 1/span 1;
  }

  &__general {
    grid-area: 3 / 2 / span 1 / span 1;
    padding-right: 50px;
    display: grid;
    height: 60%;
    align-items: end;
    align-self: end;
  }

  &__title {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  &__list {
    display: grid;
    row-gap: 20px;
    grid-area: 2/3/span 2/span 1;
    overflow-y: scroll;
    height: 77vh;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: $color-primary-white;
      width: 1px;
      border: 1px solid $color-secondary-black;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-secondary-black;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    li {
      display: grid;
      row-gap: 10px;
      padding-right: 10px;
    }
  }
}

.shop {
  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 8vh repeat(2, auto) 7vh/ 5vw 1fr 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
  row-gap: 20px;

  &__confirmation {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    background: $color-primary-white;
    display: grid;
    justify-items: center;
    row-gap: 50px;

    h4 {
      align-self: end;

    }

    button {
      align-self: start;
      height: calc(6rem + 0.5vw);
      background: $color-secondary-black;
      border: 1px solid $color-secondary-black;
      color: $color-primary-white;
      padding: 0 20px;
    }
  }

  &__top-tooltip {
    display: grid;
    top: 0vh;
    height: 6vh;
    width: 90vw;
    grid-auto-flow: column;
    grid-template:
      6vh / calc(15rem + 0.5vw) auto calc(50rem + 0.5vw) calc(2rem + 0.5vw) min(50px,100px)
      calc(2.3rem + 0.5vw);
    border-bottom: 1px solid $color-border-grey;
    position: fixed;
    background: $color-primary-white;
    padding: 0 5vw;
    align-items: center;
    column-gap: 15px;
    z-index: 3;


    &__login {
      text-decoration: underline;
      grid-area: 1 / 5 / span 1 / span 1;


      .profile-icon {
        height: calc(2rem + .5vw);

        svg path {
          color: $color-secondary-black;
          stroke: $color-secondary-black;
          stroke-width: 5px;
        }
      }

      h2 {
        text-align: center;
      }
    }

    &__list {
      display: grid;
      grid-template-rows: 1fr;
      grid-area: 1 / 2 / span 1 / span 1;
      grid-template-columns: repeat(5, auto);
      width: 50%;
      justify-self: start;

      li {
        display: grid;
        align-items: center;

        a {
          &.is-active {
            color: $color-tertiary-red;
          }

          &:hover {
            color: $color-tertiary-red;
          }
        }
      }
    }

    .search-container {
      display: grid;
      grid-auto-flow: column;
      width: 4vh;
      grid-template: 1fr / 4vh 1fr 4vh 4vh;
      height: 4vh;
      overflow: hidden;
      transition: 0.3s;
      justify-self: end;

      &.active {
        border-bottom: 1.5px solid $color-border-grey;
        width: calc(50rem + 0.5vw);

        &.focused {
          border-bottom: 1.5px solid #000000;
        }

        .search-container__icon {
          svg path {
            fill: $color-text-grey;
          }
        }
      }

      input {
        width: 100%;
        padding-right: 0;
        border: none;
      }

      &__icon,
      &__close,
      &__arrow {
        width: 4vh;
        height: 4vh;
        display: grid;
        place-items: center;
        cursor: pointer;

        &:hover {
          svg path {
            fill: $color-tertiary-red;
          }
        }

        svg {
          width: calc(1.3rem + 0.5vw);

          path {
            fill: $color-secondary-black;
          }
        }
      }

      &__close.show,
      &__arrow.show {
        display: grid;
      }

      &__close {
        svg {
          height: 80%;

          path {
            fill: $color-text-grey;
          }
        }
      }

      &__close,
      &__arrow {
        transform: scale(0.9);
        display: none;
      }
    }

    &__cart-logo {
      width: 100%;
      grid-area: 1 / 3 / span 1 / span 1;
      display: grid;
      place-items: center;

      svg {
        grid-area: 1 / 1 / span 1 / span 1;

        path {
          stroke: $color-secondary-black;
          stroke-width: 1.6px;
        }
      }

      .items-counter {
        grid-area: 1 / 1 / span 1 / span 1;
        text-align: center;
        color: $color-tertiary-red;
        transform: translateY(50%);
      }
    }

    .logo {
      height: calc(3rem + 0.5vw);
      grid-area: 1 / 1 / span 1 / span 1;
      width: auto;
      cursor: pointer;
    }

    .top-menu {
      grid-area: 1 / 6 / span 1 / span 1;
      display: grid;
      grid-template: 4vh auto / 1fr;
      z-index: 5;
      justify-self: end;
      align-self: start;

      
    }
  }

  &__topImg {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
  }

  .pagination-container {
    grid-area: 3 / 2 / span 1 / span 1;
    display: grid;
    place-items: center;
    grid-template: 1fr / 1fr;

    .pagination {
      display: grid;
      grid-auto-flow: column;
      grid-area: 1 / 1 / span 1 / span 1;
      place-items: center;
      column-gap: 10px;

      li {
        place-items: center;

        &.active {
          a {
            color: $color-tertiary-red;
          }
        }

        a {
          &.next,
          &.previous {
            display: grid;
            grid-auto-flow: column;
            grid-template: 1fr / auto auto;
            place-items: center;
            column-gap: 3px;

            div h3 {
              transform: translate(0, -3%);
              font-size: calc(1.5rem + 0.5vw);
            }
          }
        }
      }
    }
  }

  .cart-login {
    grid-area: 2 / 2 / span 1 / span 1;
    height: 75vh;
    display: grid;
    place-items: center;

    &__form-container {
      height: auto;
      width: calc(60rem + 0.5vw);
      display: grid;
      padding: 30px;
      background: $color-hover-grey;
      grid-auto-flow: row;
      row-gap: 20px;

      label > h3 {
        padding: 5px 0;
      }

      input {
        height: calc(4rem + 0.5vw);
        width: 100%;
        padding-left: 10px;
      }

      &__submit {
        height: calc(6rem + 0.5vw);
        width: 100%;
        cursor: pointer;
        border: 1px solid #090909;
        background: $color-secondary-black;
        color: $color-primary-white;
      }

      &__buttons {
        display: grid;
        grid-template: 1fr/1fr 1fr;
        height: calc(6rem + 0.5vw);
        column-gap: 10px;

        &.login {
          grid-template: 1fr / 1fr;
          column-gap: 0px;

          button {
            background: $color-primary-white;
            color: $color-secondary-black;
          }
        }

        &__guest {
          cursor: pointer;
          border: 1px solid #090909;
          background: $color-primary-white;
        }

        &__toggle {
          cursor: pointer;
          border: 1px solid #090909;
          background: $color-secondary-black;
          color: $color-primary-white;
        }
      }
    }
  }
}

.active.top-menu {
  background: #ffffff;
  width: calc(25vw - 30px);
  padding: 0 10px 10px 0px;
  height: 100vh;
  position: fixed;
  right: 0;

  &__list {
    display: grid;
  }

  .top-menu__bcg {
    position: fixed;
    height: 100vh;
    width: calc(75vw + 20px);
    z-index: 1;
    background: $color-secondary-black;
    opacity: 0.5;
    left: 0;
    top: 0;
  }
}

.active .top-menu__list li .menu-font {
  color: $color-secondary-black;
}

.active .top-menu__list li .menu-font:hover {
  color: $color-tertiary-red;
}

.inactive .top-menu__list {
  display: none;
}

.active .top-menu__icon {
  grid-template: 1fr / 1fr;
}

.active {
  div.top-menu__icon-1,
  div.top-menu__icon-2 {
    background: $color-secondary-black;
    transform: rotate(45deg);
    transform-origin: center;
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
    margin: auto;
  }
}

div.active .top-menu__icon-2 {
  transform: rotate(-45deg);
}

.pop__bcg.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: $color-secondary-black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  display: block;
  z-index: 3;
}

.pop__content.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: white;
  height: 20vh;
  width: 30vw;
  padding: 40px;
  grid-template: 1fr auto / 1fr;
  align-items: center;
  display: grid;
  z-index: 4;

  &.notify {
    input {
      height: calc(6rem + 0.5vw);
      grid-area: 2 / 1 / span 1 / span 1;
      padding-left: 10px;
      display: block;
    }
  }

  h2 {
    width: 80%;
    grid-area: 1 / 1 / span 1 / span 1;
    display: block;
  }

  &.notify button {
    grid-area: 2 / 1 / span 1 / span 1;
    width: calc(6rem + 0.5vw + 2px);
    height: 100%;
    justify-self: end;
    background: $color-secondary-black;
    display: grid;
    place-items: center;

    svg {
      height: 40%;

      path {
        fill: $color-primary-white;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .pop-cart-continue {
    &__buttons {
      grid-area: 2 / 1 / span 1 / span 1;
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      grid-template-columns: 1fr 1fr;

      button {
        height: calc(6rem + 0.5vw);
        width: 100%;
      }

      &__continue {
        background: $color-primary-white;
        border: 1px solid $color-secondary-black;
        color: $color-secondary-black;
      }

      &__cart {
        background: $color-secondary-black;
        border: 1px solid $color-secondary-black;
        color: $color-primary-white;
      }
    }
  }
}

.pop__close.active {
  grid-area: 1 / 1 / span 1 / span 1;
  height: 3rem;
  width: 3rem;
  align-self: start;
  justify-self: end;
  display: block;
  cursor: pointer;
}

.pop__svg {
  cursor: pointer;
}

.pop {
  display: none;
}

svg {
  height: 100%;
  width: 100%;
}

.search-no-results {
  background: #ffffff;
  grid-area: 2/2 / span 2 / span 1;
  z-index: -3;
  height: 80vh;
  text-align: center;
  line-height: 70vh;

  &.active {
    z-index: -1;
  }
}

.search-loader-container {
  background: $color-primary-white;
  grid-area: 2 / 2 / span 2 / span 1;
  z-index: -2;
  height: 80vh;

  &.active {
    display: block;
  }

  .search-loader {
    color: $color-hover-grey;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: absolute;
    top: calc(50vh - 10em);
    left: calc(50vw - 5em);
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: 50%;

    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      width: 5.2em;
      height: 10.2em;
      background: $color-primary-white;
      border-radius: 10.2em 0 0 10.2em;
      top: -0.1em;
      left: -0.1em;
      -webkit-transform-origin: 5.1em 5.1em;
      transform-origin: 5.1em 5.1em;
      -webkit-animation: load2 2s infinite ease 1.5s;
      animation: load2 2s infinite ease 1.5s;
    }

    &:after {
      border-radius: 50%;
      position: absolute;
      content: "";
      width: 5.2em;
      height: 10.2em;
      background: $color-primary-white;
      border-radius: 0 10.2em 10.2em 0;
      top: -0.1em;
      left: 4.9em;
      -webkit-transform-origin: 0.1em 5.1em;
      transform-origin: 0.1em 5.1em;
      -webkit-animation: load2 2s infinite ease;
      animation: load2 2s infinite ease;
    }
  }

  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.products-container {
  display: grid;
  grid-template: auto auto / 1fr;
  grid-area: 2 / 2 / span 1 / span 1;
  height: fit-content;
  align-items: center;
  padding-top: 30px;
  background: $color-primary-white;
  z-index: 1;

  &__tooltip {
    height: 10vh;
    display: grid;
    grid-template: 1fr / 1fr auto auto;
    column-gap: 30px;

    &__filter-container {
      display: grid;
      grid-template: 1fr auto/ calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
      align-items: start;
      cursor: pointer;

      &__top {
        height: calc(5rem + 0.5vw);
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-template: 1fr / calc(6rem + 0.5vw) 1fr calc(3rem + 0.5vw);
        border-bottom: 1px solid #090909;
        grid-area: 1 / 1 / span 1 / span 3;

        &__value {
          padding: 0 10px;
        }

        .arrow {
          grid-area: 1 / 3 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;
          justify-self: center;

          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }
      }

      &__dashboard {
        width: calc(50rem + 0.5vw);
        background: white;
        border: 1px solid black;
        display: none;
        padding: 10px;
        row-gap: 10px;
        border-top: none;
        grid-area: 2 / 2 / span 1 / span 1;
        z-index: 10;

        h3 {
          justify-self: end;
          line-height: normal;
          text-decoration: underline;
        }

        &.active {
          display: grid;
        }

        &__material-container {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-template: 1fr / auto 1fr 1fr;
          column-gap: 20px;

          label {
            display: grid;
            grid-template: 1fr / auto 1fr;
            align-items: center;
            column-gap: 5px;
          }
        }

        &__collection-container {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-template: 1fr / auto 1fr 1fr;
          column-gap: 20px;

          label {
            display: grid;
            grid-template: 1fr / auto 1fr;
            align-items: center;
            column-gap: 5px;
          }
        }

        .price-slider {
          &__range {
            position: relative;
            min-height: 1px;
            padding-left: 5px;
            padding-right: 5px;
          }

          .rs-slider {
            height: calc(3rem + 0.5vw);
            position: relative;
          }

          .rs-slider-bar {
            background: $color-border-grey;
            height: 4px;
          }

          .rs-tooltip[class*="placement-top"] {
            margin-top: -8px;
            -webkit-transform: translate(0);
            transform: translate(0);
          }

          .rs-tooltip[class*="placement-top"] .rs-tooltip-arrow {
            bottom: -6px;
            margin-left: -6px;
            border-width: 6px 6px 0;
            border-top-color: #272c36;
          }

          .rs-tooltip .rs-tooltip-inner {
            max-width: 250px;
            padding: 2px 10px;
            color: #fff;
            text-align: center;
            background-color: #272c36;
            border-radius: 4px;
            overflow-wrap: break-word;
          }

          .rs-tooltip .rs-tooltip-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
          }

          .rs-tooltip.placement-bottom .rs-tooltip-arrow,
          .rs-tooltip.placement-top .rs-tooltip-arrow {
            left: 50%;
          }

          .rs-slider-progress-bar {
            background: $color-secondary-black;
            height: 4px;
            position: absolute;
          }

          .rs-slider-handle {
            position: absolute;
            top: -50%;

            &::before {
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $color-secondary-black;
              margin-left: -6px;
              cursor: pointer;
              margin-top: 8px;
            }
          }

          .rs-slider .rs-tooltip {
            display: none;
          }

          &__inputs {
            display: grid;
            grid-auto-flow: column;
            column-gap: 10px;
            place-items: center;

            input {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }

    &__sort-container {
      display: grid;
      grid-template: 1fr auto / calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
      align-items: center;
      cursor: pointer;

      &__top {
        display: grid;
        height: calc(5rem + 0.5vw);
        align-self: start;
        grid-template: 1fr / calc(8rem + 0.5vw) calc(33rem + 0.5vw) calc(
            3rem + 0.5vw
          );
        align-items: center;
        grid-area: 1 / 1 / span 1 / span 3;
        border-bottom: 1px solid $color-secondary-black;

        &__title {
          grid-area: 1 / 1 / span 1 / span 1;
        }

        &__default {
          grid-area: 1 / 2 / span 1 / span 1;
          padding: 0 10px;
        }

        .arrow {
          grid-area: 1 / 3 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;
          justify-self: center;

          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }
      }

      &__list {
        grid-area: 2 / 2 / span 1 / span 1;
        display: none;
        background: $color-primary-white;

        border: 1px solid $color-secondary-black;
        border-top: none;

        &.active {
          display: grid;
        }

        li {
          cursor: pointer;

          &:hover {
            background: $color-hover-grey;
          }

          h2 {
            padding: 10px 10px 10px 10px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid $color-border-grey;
          }
        }
      }
    }
  }

  h4 {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: left;
  }

  &__list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(5rem + 0.5vw);
    height: fit-content;
    row-gap: calc(5rem + 0.5vw);
    grid-area: 2 / 1 / span 1 / span 1;

    &__product {
      display: grid;
      place-items: center;
      cursor: pointer;
      grid-template-rows: auto calc(9rem + 0.5vw);

      &:hover img,
      &:hover &__sizes {
        transform: scale(1.03);
      }

      // &__sizes:hover {
      //   background: $color-secondary-black;
      // }

      &__sizes {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        position: relative;
        overflow: hidden;
        opacity: 0.5;
        transition: 0.5s;
        z-index: -1;

        h2 {
          visibility: hidden;
          color: $color-primary-white;
        }
      }

      .unavailable &__sizes {
        background: $color-secondary-black;

        h2 {
          visibility: visible;
        }
      }

      img {
        width: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        transition: 0.5s;
        z-index: -1;
      }

      .placeholder {
        background: $color-hover-grey;
        width: 100%;
        min-width: 20vw;
        aspect-ratio: 1;
        grid-area: 1/1 / span 1 / span 1;
        z-index: -2;
      }

      &__label {
        grid-area: 2 / 1 / span 1 / span 1;
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-items: left;
        height: 100%;
        row-gap: 5px;
        width: 100%;
        padding: 10px 0;

        &__price-container {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          column-gap: 5px;

          h2 {
            align-self: end;
            text-align: left;
            font-weight: 400;
            font-size: calc(1rem + 0.5vw);
          }

          &__old-price {
            text-decoration: line-through;
            grid-area: 1 / 1 / span 1 / span 1;
            font-size: calc(0.7rem + 0.5vw);
            align-self: center;
            text-align: left;
          }

          &__new-price {
            color: $color-tertiary-red;
            grid-area: 1 / 2 / span 1 / span 1;
            font-size: calc(1rem + 0.5vw);
            align-self: center;
            text-align: left;
          }

          &__price {
            grid-area: 1 / 1 / span 1 / span 1;
            align-self: center;
            text-align: left;
            font-size: calc(1rem + 0.5vw);
          }
        }
      }
    }
  }
}


.top-menu {
  &__list {
    padding: 20vh 30px;
    display: grid;

    li {
      text-align: left;
      line-height: 600%;
    }
  }
  &__icon {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    place-items: center;
    width: 20px;
    justify-self: end;
    padding: 13px 0;
    cursor: pointer;
    height: 6vh;
    box-sizing: border-box;
  }

  &__icon-1,
  &__icon-2 {
    width: 20px;
    height: 1.6px;
    background: $color-secondary-black;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s;
  }
}

.profile-container {
  display: grid;
  grid-area: 2 / 2 / span 1 / span 1;
  min-height: 80vh;
  grid-template: auto auto 1fr / 1fr;
  row-gap: 0px;
  background: $color-primary-white;

  &__title {
    height: calc(10rem + .5vw);
  }

  .logout-button {
    text-decoration: underline;
    cursor: pointer;
  }

  &__legend {
    display: grid;
    grid-template: 1fr / 1fr 1.4fr 1fr 1fr .5fr;
    grid-area: 2 / 1 / span 1 / span 3;
    height: calc(4rem + .5vw);
    border-bottom: 1px solid #f3f3f3;

    &__date {
      display: grid;
      grid-template: 1fr / auto 1fr;
      column-gap: 10px;

      .arrow {
        grid-area: 1/2/span 1/span 1;
        height: calc(0.6rem + 0.5vw);
        width: calc(0.6rem + 0.5vw);
        cursor: pointer;

        svg {
          transform: translateY(20%) rotate(90deg);
          path {
          stroke-width: 10px;
          stroke: $color-secondary-black;
        }
      }

        svg.active {
          
          transform: translateY(20%) rotate(270deg);
        }
      }
    }
    
  }

  &__history {
    height: auto;
    grid-area: 3 / 1 / span 1 / span 4;

    .no-history {
      text-align: center;
      top: 30vh;
      position: relative;
    }

    &__item {
      
      display: grid;
      grid-template: 1fr auto/ 1fr;
      align-items: center;
      border-bottom: 1px solid #f3f3f3;
      height: auto;
      

      &__header {
        width: 100%;
        display: grid;
        grid-template: 1fr / 1fr 1.4fr 1fr 1fr .5fr;
        height: calc(20rem + 0.5vw);
        align-items: center;

        .arrow {
          grid-area: 1 / 5 / span 1 / span 1;
          height: calc(0.5rem + 0.5vw);
          width: calc(0.5rem + 0.5vw);
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          transform: translateY(-15%) rotate(-45deg);
          transition: 0.5s;
          cursor: pointer;
  
          &.active {
            transform: translateY(30%) rotate(135deg);
          }
        }

        h2 {
          font-weight: 600;
        }
        
      }

      &__list {
        display: none;
        
        &.active {
          display: grid;

        }
        li {
          display: grid;
          grid-template: 1fr / 2fr repeat(4,1fr);
          height: calc(15rem + 0.5vw);
          align-items: center;
          background: #fafafa;
        }
      }
}
  }
}
.cart-container {
  display: grid;
  grid-area: 2 / 2 / span 1 / span 1;
  min-height: 80vh;
  grid-template: auto 1fr / 1fr;
  row-gap: 0px;
  background: $color-primary-white;

  &__tooltip {
    display: grid;
    grid-template: 1fr / 1fr calc(24rem + 0.5vw);
    align-items: start;

    &__icons {
      grid-area: 1 / 2 / span 1 / span 1;
      grid-auto-flow: column;
      display: grid;
      column-gap: calc(1rem + 0.5vw);

      li {
        border-radius: 50%;
        height: calc(6rem + 0.5vw);
        width: calc(6rem + 0.5vw);
        background: $color-hover-grey;
        display: grid;
        place-items: center;

        &.active {
          background: $color-secondary-black;

          svg path {
            fill: $color-primary-white;
          }
        }

        .cart__icon {
          height: 50%;
          width: auto;
        }
      }
    }
  }

  &__table {
    display: grid;
    grid-template: calc(5rem + 0.5vw) auto / 1fr 3fr 1fr 1fr 25vw;
    row-gap: 20px;

    &__summary {
      position: fixed;
      background: #fafafa;
      width: 20vw;
      right: 0;
      top: 0;
      height: 70vh;
      z-index: 0;
      padding: 15vh 3vw;
      display: grid;
      grid-template: 10vh auto auto auto 1fr 10vh/ 1fr;
      align-items: center;

      &__title {
        grid-area: 1 / 1 / span 1 / span 1;
        color: $color-text-grey;
      }

      .empty {
        display: none;
      }
    }

    &__legend {
      grid-area: 1 / 1 / span 1 / span 4;
      display: grid;
      grid-template: 1fr / 1fr 3fr 1fr 1fr;
      border-bottom: 1px solid $color-hover-grey;

      &__item {
        grid-area: 1 / 2 / span 1 / span 1;
      }

      &__quantity {
        grid-area: 1 / 3 / span 1 / span 1;
      }

      &__subtotal {
        grid-area: 1 / 4 / span 1 / span 1;
      }
    }

    &__products {
      height: auto;
      grid-area: 2 / 1 / span 1 / span 4;

      &__item {
        height: calc(20rem + 0.5vw);
        display: grid;
        grid-template: 1fr/1fr 3fr 1fr 1fr;
        align-items: center;

        &__info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 7px;

          .cart__model {
            color: $color-text-grey;
            font-weight: 400;
          }
        }

        a {
          display: grid;
          height: 100%;
          grid-auto-flow: column;
          grid-template: 1fr/1fr 3fr;
          align-items: center;
          grid-area: 1/ 1 / span 1 / span 2;

          img {
            height: calc(16rem + 0.5vw);
            justify-self: center;
          }

          .placeholder {
            display: none;
          }
        }

        .cart__quantityHandler {
          grid-area: 1 / 3 / span 1 / span 1;
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          width: fit-content;
          column-gap: 10px;
          border: 1px solid $color-hover-grey;

          button {
            width: calc(3rem + 0.5vw);
            height: calc(3rem + 0.5vw);
            display: grid;
            place-items: center;
            background: transparent;
            align-self: center;

            &:hover {
              background: $color-hover-grey;
            }

            h2 {
              text-align: center;
            }
          }

          &__add {
            grid-area: 1 / 3 / span 1 / span 1;
            border-left: 1px solid $color-hover-grey;
          }

          &__deduct {
            grid-area: 1 / 1 / span 1 / span 1;
            border-right: 1px solid $color-hover-grey;
          }

          .cart__qty {
            grid-area: 1 / 2 / span 1 / span 1;
            text-align: center;
            width: fit-content;
          }
        }

        .cart__total {
          grid-area: 1 / 4 / span 1 / span 1;
        }

        .cart__exit {
          grid-area: 1 / 4 / span 1 / span 1;
          padding: 10px;
          justify-self: end;
          align-self: start;
          background: $color-primary-white;

          h2 {
            transform: scale(1.3);
          }
        }

        &__line {
          height: 1px;
          background: $color-hover-grey;
          grid-area: 1/2 / span 1 / span 3;
          align-self: end;

          &__empty {
            font-size: calc(1.5rem + 0.5vw);
            height: calc(20rem + 0.5vw);
            line-height: calc(20rem + 0.5vw);
            padding-left: 15vw;
          }
        }
      }
    }

    &__code {
      grid-area: 4 / 1 / span 1 / span 1;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      padding: calc(0rem + 0.5vw) 0;

      &.active {
        button {
          display: none;
        }

        input {
          font-weight: 600;
          text-align: right;
          border: none;
          background: transparent;
        }
      }

      h3 {
        padding-right: 15px;
        font-weight: 400;
      }

      input {
        height: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        height: calc(4rem + 0.5vw);
      }

      button {
        background: $color-secondary-black;
        color: $color-primary-white;
        height: 100%;
        height: calc(4rem + 0.5vw);
        padding: 0 15px;
        border: 1px solid $color-secondary-black;
      }

      &__error {
        display: none;

        &.active {
          display: block;
          grid-area: 2 / 1 / span 1 / span 3;
          padding-top: 5px;
          color: $color-tertiary-red;
          justify-self: end;
          font-size: calc(0.5rem + 0.5vw);
          padding-right: 0;
        }
      }
    }

    &__subtotal {
      grid-area: 2 / 1 / span 1 / span 1;
      display: grid;
      height: calc(3rem + 0.5vw);
      padding: calc(0rem + 0.5vw) 0;
      align-items: center;
      grid-template: 1fr / 3fr 1fr 1fr;

      &__value {
        grid-area: 1 / 3 / span 1 / span 1;
        justify-self: end;
        font-weight: 600;
      }

      &__title {
        font-weight: 400;
      }
    }

    &__discount {
      grid-area: 3 / 1 / span 1 / span 1;
      display: grid;
      height: calc(3rem + 0.5vw);
      padding: calc(0rem + 0.5vw) 0;
      align-items: center;
      grid-template: 1fr / 3fr 1fr 1fr;

      &.empty {
        display: none;
      }

      &__value {
        grid-area: 1 / 3 / span 1 / span 1;
        justify-self: end;
        color: $color-tertiary-red;
        font-weight: 600;
      }

      &__title {
        font-weight: 400;
      }
    }

    &__total {
      grid-area: 5 / 1 / span 1 / span 1;
      display: grid;
      height: calc(10rem + 0.5vw);
      align-items: center;
      grid-template: 1fr / 1fr 1fr 1fr;
      align-self: end;

      &__value {
        justify-self: end;
      }

      &__items {
        justify-self: center;
      }

      &__title {
        font-weight: 600;
      }
    }

    &__buttons {
      grid-area: 6 / 1 / span 1 / span 1;
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      height: calc(6rem + 0.5vw);
      column-gap: 10px;
      align-self: end;

      &__continue-shopping {
        background: $color-primary-white;
      }

      &__checkout {
        background: $color-secondary-black;
        color: $color-primary-white;
        height: 100%;
        width: 100%;
      }

      button {
        cursor: pointer;
        border: 1px solid $color-secondary-black;
      }
    }
  }
}

.pagination {
  grid-area: 4 / 2 / span 1 / span 1;
  display: grid;
  padding: 30px 0;

  .page-number-container {
    display: grid;

    .number-wrap {
      display: grid;
      grid-auto-flow: column;
      justify-self: center;
      width: 30%;

      li {
        cursor: pointer;

        &[isclicked="true"] {
          color: $color-tertiary-red;
        }
      }
    }
  }
}

.product-item-container {
  grid-area: 3/2 / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr auto 5fr;
  height: 70vh;
  column-gap: 50px;
  background: $color-primary-white;
  transform: translateY(-5vh);

  &__back {
    grid-area: 1 / 1 / span 1 / span 1;
    height: fit-content;
    background: none;
  }

  &__toggle-product {
    grid-area: 1 / 3 / span 1 / span 1;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    align-items: center;
    justify-self: end;

    button {
      background: none;
    }
  }

  &__info {
    grid-area: 1 / 3 / span 1 / span 1;
    height: 50vh;
    align-self: end;
    grid-template: 1fr 2fr calc(4rem + 0.5vw) 1fr / 1fr;
    display: grid;
    padding: 0px 100px;
    align-self: center;
    row-gap: 15px;

    &__main {
      grid-area: 1 / 1 / span 1 / span 1;
      display: grid;
      grid-template: auto auto / 1fr 1fr;

      &__price-container {
        text-align: right;
        display: grid;
        grid-auto-flow: row;

        &__old-price {
          text-decoration: line-through;
          font-size: calc(1.3rem + 0.5vw);
        }

        &__new-price {
          color: $color-tertiary-red;
        }
      }
    }

    h4 {
      line-height: normal;
    }

    h3 {
      color: $color-text-grey;
    }

    &__desc {
      grid-area: 2 / 1 / span 1 / span 1;
      width: fit-content;
      border-top: 1px solid black;
      display: grid;
      align-items: center;
      padding-top: 20px;
    }

    &__size-picker.single {
      border: none;

      .available {
        display: none;
      }

      .unavailable {
        grid-area: 1 / 1 / span 1 / span 3;
        display: grid;
        grid-auto-flow: column;
        color: $color-text-grey;
        cursor: initial;

        &:first-child {
          visibility: hidden;
        }

        .notify {
          text-align: end;
          visibility: visible;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &__size-picker {
      grid-area: 3 / 1 / span 1 / span 1;
      border: 1px solid $color-secondary-black;
      height: calc(4rem + 0.5vw);
      align-self: center;
      display: grid;
      height: auto;
      grid-template: calc(4rem + 0.5vw) auto / auto 5fr calc(3rem + 0.5vw);
      align-items: center;
      cursor: pointer;
      align-self: start;

      &__default {
        grid-area: 1 / 2 / span 1 / span 1;
        padding-left: calc(1rem + 0.5vw);
      }

      &__list {
        grid-area: 2 / 1 / auto / span 3;
        display: none;
        grid-auto-flow: row;
        z-index: 1;
        max-height: calc(20rem + 0.5vw);
        background: $color-primary-white;
        border-top: 1px solid $color-secondary-black;
        overflow-y: scroll;

        &.active {
          display: grid;
        }

        li:not(:last-child) {
          border-bottom: 1px solid $color-hover-grey;
        }

        li {
          padding-left: calc(9.7rem + 0.5vw);
          display: grid;
          align-items: center;
          grid-auto-flow: column;
          height: calc(3.5rem + 0.5vw);

          &.available {
            cursor: pointer;
          }

          &.available:hover {
            background: $color-hover-grey;
          }

          &.unavailable {
            color: $color-text-grey;
            cursor: initial;

            .notify {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      &__arrow {
        grid-area: 1 / 3 / span 1 / span 1;
        height: calc(0.5rem + 0.5vw);
        width: calc(0.5rem + 0.5vw);
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        transform: translateY(-15%) rotate(-45deg);
        transition: 0.5s;
        cursor: pointer;

        &.active {
          transform: translateY(30%) rotate(135deg);
        }
      }

      &__title {
        grid-area: 1 / 1 / span 1 / span 1;
        padding: 0 10px;
        height: 100%;
        line-height: calc(4rem + 0.5vw);
        border-right: 1px solid black;
      }
    }

    &__button {
      grid-area: 4 / 1 / span 1 / span 1;
      background: $color-secondary-black;
      color: $color-primary-white;
      text-align: center;
      border: none;
      outline: none;
      height: calc(6rem + 0.5vw);
      cursor: pointer;
      align-self: center;
    }
  }

  img {
    grid-area: 1 / 2 / span 1 / span 1;
    height: 70vh;
  }

  .placeholder {
    background: $color-hover-grey;
    aspect-ratio: 1;
    grid-area: 1 / 2 / span 1 / span 1;
    height: 70vh;
    z-index: -2;
  }
}

div.placeholder#placeholder {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

button:hover {
  opacity: 0.9;
}

/* 3. Mobile */
/* 4. Tablet */
