@import "./base";

$color-primary-grey: #ffffff;
$color-secondary-black: #090909;
$color-tertiary-red: #dc2121;
$color-hover-grey: #e4e4e4;
$color-text-white: #ffffff;
$color-text-grey: #626262;

body {
  background: $color-primary-grey;
}

html {
  font-size: 6px;
}

a {
  text-decoration: none;
  color: $color-secondary-black;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid $color-secondary-black;
}

input {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid $color-text-grey;
}

h1 {
  font-size: calc(3.3rem + 0.5vw);
}

h2 {
  font-size: calc(1.3rem + 0.5vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}

h4 {
  font-size: calc(1.6rem + 0.5vw);
}

/* 1. General */

* {
  font-family: "Lato", sans-serif;
}

.home,
.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 4vh repeat(22, 1fr) 7vh/ 5vw repeat(10, 1fr) 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
}

.logo {
  grid-area: 3 / 2 / span 1 / span 1;
  width: 6vw;
}

.newsletter-info {
  background: $color-primary-grey;
  height: 4vh;
  width: 100vw;
  grid-area: 1 / 1 / span 12 / span 12;
  display: grid;
  place-items: center;
  border-bottom: 1px solid $color-secondary-black;
  z-index: 1;
  position: fixed;
  top: 0;

  &__carousel {
    color: $color-secondary-black;

    &__link {
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
    }

    &__link:hover {
      color: $color-tertiary-red;
    }
  }
}

.info-font {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.imgCasablanca-1 {
  grid-area: 1 / 7 / span 25 / span 6;
  width: 40vw;
  justify-self: end;
}

.imgCasablanca-2 {
  grid-area: 15 / 3 / span 9 / span 4;
  width: 12vw;
  justify-self: start;
  align-self: end;
}

.imgCasablanca-3 {
  grid-area: 1 / 5 / span 5 / span 4;
  width: 10vw;
  justify-self: start;
}

/* 2. Desktop */

.main-menu {
  display: grid;
  justify-items: start;
  grid-area: 6 / 2 / span 3 / span 4;
  width: fit-content;
  align-items: center;

  li {
    height: calc(6.6rem + 0.5vw);
    cursor: pointer;
  }
}

.menu-font {
  font-size: calc(1.6rem + 0.5vw);
  font-weight: 600;

  &:hover {
    color: $color-tertiary-red;
  }
}

.bottom-info {
  width: 90vw;
  position: fixed;
  bottom: 0;
  height: 7vh;
  border-top: 1px solid $color-secondary-black;
  background: $color-primary-grey;
  z-index: 1;
  align-self: end;
  display: grid;
  grid-template: 1fr / repeat(2, auto);
  align-items: center;
  padding: 0 5vw;

  &__links {
    justify-self: start;
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    justify-items: start;
    column-gap: 3vw;
  }

  &__copyrights {
    justify-self: end;
  }
}

.link {
  cursor: pointer;
  border-color: $color-secondary-black;
  border-bottom-width: 1px;
  border-style: solid;
}

.link:hover {
  color: $color-tertiary-red;
  border-color: $color-tertiary-red;
}

h2.Casablanca {
  grid-area: 13 / 5 / span 5 / span 3;
  width: 90%;
}

h2 {
  text-align: left;
  font-size: calc(1.3rem + 0.5vw);
  line-height: normal;
  font-weight: 400;
}

a.Casablanca {
  grid-area: 18 / 6 / span 1 / span 2;
  font-weight: 600;
  font-size: calc(2rem + 0.5vw);
  align-self: end;
  border-bottom: 2px solid $color-secondary-black;
  line-height: normal;
  text-align: left;
}

div.Casablanca {
  grid-area: 11 / 5 / span 2 / span 3;
  height: calc(3.3rem + 0.5vw);
  border-bottom: 2px solid $color-secondary-black;
}

.about-desc {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  row-gap: 10px;
  grid-area: 14 / 2 / span 8 / span 4;
}

.about__carousel {
  position: absolute;
  left: 50vw;
  width: 40vw;
  display: grid;
  row-gap: 10px;
  animation: slideshow 60s linear infinite;

  img {
    width: 100%;
  }
}

@keyframes slideshow {
  100% {
    transform: translate3d(0, -85.81428571%, 0);
  }
}


.top-menu {
  .is-active {
    position: relative;

    &::after {
      width: 5px;
      height: 5px;
      background: $color-primary-grey;
      content: "";
      position: absolute;
      top: 50%;
      right: -15px;
      z-index: 1000000;
      border-radius: 50%;
    }
  }
}

.shop {
  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 10vh repeat(3, auto) 7vh/ 5vw 1fr 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
  row-gap: 20px;

  &__top-tooltip {
    display: grid;
    top: 0vh;
    height: 6vh;
    width: 90vw;
    grid-auto-flow: column;
    grid-template: 6vh / calc(15rem + 0.5vw) auto calc(2rem + 0.5vw) calc(
        5rem + 0.5vw
      );
    border-bottom: 1px solid $color-secondary-black;
    position: fixed;
    background: $color-primary-grey;
    padding: 0 5vw;
    align-items: center;

    &__list {
      display: grid;
      grid-template-rows: 1fr;
      grid-area: 1 / 2 / span 1 / span 1;
      grid-template-columns: repeat(5, auto);
      width: 50%;
      justify-self: start;

      li {
        display: grid;
        align-items: center;
      }
    }

    &__cart-logo {
      width: 100%;
      grid-area: 1 / 3 / span 1 / span 1;
    }

    .logo {
      height: calc(3rem + 0.5vw);
      grid-area: 1 / 1 / span 1 / span 1;
      width: auto;
      cursor: pointer;
    }

    .top-menu {
      grid-area: 1 / 4 / span 1 / span 1;
      display: grid;
      grid-template: 4vh auto / 1fr;
      z-index: 5;
      justify-self: end;
      align-self: start;

      &__list li {
        text-align: left;
        line-height: 400%;
      }

      &__icon {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        place-items: center;
        width: 20px;
        justify-self: end;
        padding: 13px 0;
        cursor: pointer;
        height: 6vh;
        box-sizing: border-box;
      }

      &__icon-1,
      &__icon-2 {
        width: 20px;
        height: 2px;
        background: $color-secondary-black;
        z-index: 2;
        cursor: pointer;
        transition: 0.2s;
      }
    }
  }

  &__topImg {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
  }
}


.active.top-menu {
  background: $color-secondary-black;
  width: 10vw;
  padding: 0 10px 10px 10px;

  &__list {
    display: grid;
  }
}

.active .top-menu__list li .menu-font {
  color: $color-primary-grey;
}

.active .top-menu__list li .menu-font:hover {
  color: $color-tertiary-red;
}

.inactive .top-menu__list {
  display: none;
}

.active .top-menu__icon {
  grid-template: 1fr / 1fr;
}

.active {




   div.top-menu__icon-1,
   div.top-menu__icon-2 {
  background: $color-primary-grey;
  transform: rotate(45deg);
  transform-origin: center;
  grid-area: 1 / 1 / span 1 / span 1;
  align-self: center;
  margin: auto;
}


}

div.active .top-menu__icon-2 {
  transform: rotate(-45deg);
}

.pop__bcg.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: $color-secondary-black;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  display: block;
  z-index: 1;
}

.pop__content.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: white;
  height: 20vh;
  width: 30vw;
  padding: 40px;
  grid-template: 1fr auto / 1fr;
  align-items: center;
  display: grid;
  z-index: 2;

  input {
    height: calc(6rem + 0.5vw);
    grid-area: 2 / 1 / span 1 / span 1;
    padding-left: 10px;
    display: block;
  }

  h2 {
    width: 80%;
    grid-area: 1 / 1 / span 1 / span 1;
    display: block;
  }

  button {
    grid-area: 2 / 1 / span 1 / span 1;
    width: calc(6rem + 0.5vw + 2px);
    height: 100%;
    justify-self: end;
    background: $color-secondary-black;
    display: grid;
    place-items: center;

    svg {
      height: 40%;


      path {
        fill: $color-text-white;
        display: none;


        &.active {
          display: block;
        }
      }
    }
    
  }
}

.pop__close.active {
  grid-area: 1 / 1 / span 1 / span 1;
  height: 3rem;
  width: 3rem;
  align-self: start;
  justify-self: end;
  display: block;
  cursor: pointer;
}

.pop__svg {
  cursor: pointer;
}

.pop {
  display: none;
}

svg {
  height: 100%;
  width: 100%;
}



.products-container {
  display: grid;
  grid-template: auto auto / 1fr;
  grid-area: 3 / 2 / span 1 / span 1;
  height: fit-content;
  align-items: center;
  padding-top: 50px;

  &__tooltip {
    height: 10vh;
    display: grid;
    grid-template: 1fr / 1fr auto auto;


    &__sort-container {
      display: grid;
      grid-template: 1fr auto / calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
      align-items: center;
      cursor: pointer;

      &__top {
        display: grid;
        height: calc(5rem + 0.5vw);
        align-self: start;
        grid-template: 1fr / calc(8rem + 0.5vw) calc(33rem + 0.5vw) calc(3rem + 0.5vw);
        align-items: center;
        grid-area: 1 / 1 / span 1 / span 3;
        border-bottom: 1px solid $color-secondary-black;

        &__title {
          grid-area: 1 / 1 / span 1 / span 1;
  
        }
  
        &__default {
          grid-area: 1 / 2 / span 1 / span 1;
          padding: 0 10px;
          
        }
  
        .arrow {
          grid-area: 1 / 3 / span 1 / span 1;
            height: calc(0.5rem + 0.5vw);
            width: calc(0.5rem + 0.5vw);
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            transform: translateY(-15%) rotate(-45deg);
            transition: 0.5s;
            cursor: pointer;
            justify-self: center;
  
            &.active {
              transform: translateY(30%) rotate(135deg);
            }
        }
      }

      

      &__list {
        grid-area: 2 / 2 / span 1 / span 1;
        display: none;
        background: $color-primary-grey;

        border: 1px solid $color-secondary-black;
        border-top: none;

        &.active {
          display: grid;
        }

        li {
          cursor: pointer;

          &:hover {
            background: $color-hover-grey;
          }          

          h2 {
            padding: 10px 10px 10px 10px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #bfbfbf;
          }
        }
      }


      
    }
  }

  h4 {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: left;
  }

  &__list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    height: fit-content;
    row-gap: 20px;
    grid-area: 2 / 1 / span 1 / span 1;

    &__product {
      display: grid;
      place-items: center;
      cursor: pointer;
      grid-template-rows: auto calc(9rem + 0.5vw);

      &:hover img,
      &:hover &__sizes  {
        transform: scale(1.03);

      }
      

      // &__sizes:hover {
      //   background: $color-secondary-black;
      // }

      &__sizes {

        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        position: relative;
        overflow: hidden;
        opacity: 0.5;
        transition: .5s;
        z-index: -1;

        h2 {
          visibility: hidden;
          color:$color-text-white;
        }
      }

      .unavailable &__sizes {

        background: $color-secondary-black;

        h2 {
          visibility: visible;
        }
      }

      img {
        width: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        transition: 0.5s;
        z-index: -1;
      }

      &__label {
        grid-area: 2 / 1 / span 1 / span 1;
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-items: left;
        height: 100%;
        row-gap: 5px;
        width: 100%;
        padding: 10px 0;

        h2 {
          align-self: end;
          text-align: left;
          font-weight: 400;
          font-size: calc(1rem + 0.5vw);
        }

        h3 {
          align-self: start;
          text-align: left;
          font-size: calc(1rem + 0.5vw);
        }
      }
    }
  }
}


.cart-container {

  display: grid;
  grid-area: 2 / 2 / span 1 / span 1;
  height: auto;
  grid-template: auto auto / 1fr;
  row-gap: 50px;


  &__tooltip {
    display: grid;
    grid-template: 1fr / 1fr calc(24rem + .5vw);
    align-items: center;


    &__icons {
      grid-area: 1 / 2 / span 1 / span 1;
      grid-auto-flow: column;
      display: grid;
      column-gap: calc(1rem + .5vw);

      li {

      border-radius: 50%;
      height: calc(6rem + .5vw);
      width: calc(6rem + .5vw);
      background: $color-hover-grey;
      display: grid;
      place-items: center;

      &.active {
        background: $color-secondary-black;

        svg path {
          fill: $color-text-white;
        }
      }

      .cart__icon {
        height: 50%;
        width: auto;
        
        
      }

    }
    }

    
  }

  &__table {

    display: grid;
    grid-template: calc(5rem + .5vw) auto auto calc(10rem + .5vw) / 1fr 3fr 1fr 1fr;
    row-gap: 20px;

    &__legend {
    grid-area: 1 / 1 / span 1 / span 4;
    display: grid;
    grid-template: 1fr / 1fr 3fr 1fr 1fr;
    border-bottom: 1px solid $color-hover-grey;

    &__item {
      grid-area: 1 / 2 / span 1 / span 1;
    }

    &__quantity {
      grid-area: 1 / 3 / span 1 / span 1;
    }

    &__subtotal {
      grid-area: 1 / 4 / span 1 / span 1;
    }

    }


    &__products {
      display: grid;
      grid-auto-flow: row;
      height: auto;
      grid-area: 2 / 1 / span 1 / span 4;
      
  
      &__item {
        height: calc(20rem + .5vw);
        display: grid;
        grid-template: 1fr/1fr 3fr 1fr 1fr;
        align-items: center;
        
  
        a {
          display: grid;
          height: 100%;
          grid-auto-flow: column;
          grid-template: 1fr/1fr 3fr;
          align-items: center;
          grid-area: 1/ 1 / span 1 / span 2;
  
        img {
          height: calc(16rem + .5vw)
        }
        
        }

        .cart__qty {
          grid-area: 1 / 3 / span 1/ span 1;
        }

        .cart__total {
          grid-area: 1 / 4 / span 1/ span 1;
        }

        .cart__exit {
          grid-area: 1 / 4 / span 1/ span 1;
          padding: 10px;
          justify-self: end;
          align-self: start;
          background: $color-primary-grey;
          
          

          h2 {
            transform: scale(1.3)
          }
        }

        &__line {
          height: 1px;
          background: $color-hover-grey;
          grid-area: 1/2/span 1/span 3;
          align-self: end;
          
        }
      }
  
    }

    &__total {
      grid-area: 3 / 2 / span 1 / span 3;
      display: grid;
      height: calc(8rem + .5vw);
      align-items: center;
    }

    &__buttons {
      grid-area: 4 / 2 / span 1 / span 3;
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      height: calc(6rem + 0.5vw);
      column-gap: 10px;

      &__continue-shopping {
        background: $color-primary-grey;
      }

      &__checkout {
        background: $color-secondary-black;
        color: $color-text-white;
      }
      

      button {
        cursor: pointer;
        border: 1px solid $color-secondary-black;
      }
      
    }
  }

 
}

.pagination {
grid-area: 4 / 2 / span 1 / span 1;
display: grid;
padding: 30px 0;

.page-number-container {

display: grid;

  .number-wrap {
    display: grid;
      grid-auto-flow: column;
      justify-self: center;
      width: 30%;

      li {
        cursor: pointer;

        &[isclicked="true"] {
          color: $color-tertiary-red;
        }
      }


  }

}
}



.product-item-container {
  grid-area: 4/2 / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr auto 5fr;
  height: 70vh;
  column-gap: 50px;

  &__back {
    grid-area: 1 / 1 / span 1 / span 1;
    height: fit-content;
    background: none;
    
  }

  &__toggle-product {
    grid-area: 1 / 3 / span 1 / span 1;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    align-items: center;
    justify-self: end;

    button {
      background: none;
    }
    
  }

  &__info {
    grid-area: 1 / 3 / span 1 / span 1;
    height: 50vh;
    align-self: end;
    grid-template: 1fr 2fr calc(4rem + 0.5vw) 1fr / 1fr;
    display: grid;
    padding: 0px 100px;
    align-self: center;
    row-gap: 15px;

    &__main {
      grid-area: 1 / 1 / span 1 / span 1;
      display: grid;
      grid-template: auto auto / 1fr 1fr;

      &__price {
        text-align: right;
      }
    }

    h4 {
      line-height: normal;
    }

    h3 {
      color: $color-text-grey;
    }

    &__desc {
      grid-area: 2 / 1 / span 1 / span 1;
      width: fit-content;
      border-top: 1px solid black;
      display: grid;
      align-items: center;
      padding-top: 20px;
    }

    &__size-picker {
      grid-area: 3 / 1 / span 1 / span 1;
      border: 1px solid $color-secondary-black;
      height: calc(4rem + 0.5vw);
      align-self: center;
      display: grid;
      height: auto;
      grid-template: calc(4rem + 0.5vw) auto / auto 5fr calc(3rem + 0.5vw);
      align-items: center;
      cursor: pointer;
      align-self: start;

      &__default {
        grid-area: 1 / 2 / span 1 / span 1;
        padding-left: calc(1rem + 0.5vw);
      }

      &__list {
        grid-area: 2 / 1 / auto / span 3;
        display: none;
        grid-auto-flow: row;
        z-index: 1;
        max-height: calc(20rem + 0.5vw);
        background: $color-primary-grey;
        border-top: 1px solid $color-secondary-black;
        overflow-y: scroll;

        &.active {
          display: grid;
        }

        li:not(:last-child) {
          border-bottom: 1px solid $color-hover-grey;
        }

        li {
          padding-left: calc(9.7rem + 0.5vw);
          display: grid;
          align-items: center;
          grid-auto-flow: column;
          height: calc(3.5rem + 0.5vw);

          &.available {
            cursor: pointer;
          }

          &.available:hover {
            background: $color-hover-grey;
          }

          &.unavailable {
            color: $color-text-grey;
            cursor: initial;

            .notify {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      &__arrow {
        grid-area: 1 / 3 / span 1 / span 1;
        height: calc(0.5rem + 0.5vw);
        width: calc(0.5rem + 0.5vw);
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        transform: translateY(-15%) rotate(-45deg);
        transition: 0.5s;
        cursor: pointer;

        &.active {
          transform: translateY(30%) rotate(135deg);
        }
      }

      &__title {
        grid-area: 1 / 1 / span 1 / span 1;
        padding: 0 10px;
        height: 100%;
        line-height: calc(4rem + 0.5vw);
        border-right: 1px solid black;
      }
    }

    &__button {
      grid-area: 4 / 1 / span 1 / span 1;
      background: $color-secondary-black;
      color: $color-text-white;
      text-align: center;
      border: none;
      outline: none;
      height: calc(6rem + 0.5vw);
      cursor: pointer;
      align-self: center;
    }
  }

  img {
    grid-area: 1 / 2 / span 1 / span 1;
    height: 70vh;
  }
}

button:hover {
  opacity: 0.9;
}

/* 3. Mobile */
/* 4. Tablet */
