@import './base';

$color-primary-grey: #ebe9e7;
$color-secondary-black: #090909;
$color-tertiary-red: #dc2121;
$color-text-white: #ffffff;

body {
  background: $color-primary-grey;
}

html {
  font-size: 6px;
}

a {
  text-decoration: none;
  color: $color-secondary-black;
}

h1 {
  font-size: calc(3.3rem + 0.5vw);
}

h2 {
  font-size: calc(1.3rem + 0.5vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}

h4 {
  font-size: calc(1.6rem + 0.5vw);
}

/* 1. General */

* {
  font-family: "Lato", sans-serif;
}

.home,
.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 4vh repeat(22, 1fr) 7vh/ 5vw repeat(10, 1fr) 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
}

.logo {
  grid-area: 3 / 2 / span 1 / span 1;
  width: 6vw;
}

.newsletter-info {
  background: $color-primary-grey;
  height: 4vh;
  width: 100vw;
  grid-area: 1 / 1 / span 12 / span 12;
  display: grid;
  place-items: center;
  border-bottom: 1px solid $color-secondary-black;
  z-index: 1;
  position: fixed;
  top: 0;

  &__carousel {
    
    color: $color-secondary-black;
  

  &__link {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;

  }

  &__link:hover {
    color: $color-tertiary-red;
  }

  }

}


.info-font {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.imgCasablanca-1 {
  grid-area: 1 / 7 / span 25 / span 6;
  width: 40vw;
  justify-self: end;
}

.imgCasablanca-2 {
  grid-area: 15 / 3 / span 9 / span 4;
  width: 12vw;
  justify-self: start;
  align-self: end;
}

.imgCasablanca-3 {
  grid-area: 1 / 5 / span 5 / span 4;
  width: 10vw;
  justify-self: start;
}

/* 2. Desktop */

.main-menu {
  display: grid;
  justify-items: start;
  grid-area: 6 / 2 / span 3 / span 4;
  width: fit-content;
  align-items: center;

  li {
    height: calc(6.6rem + 0.5vw);
    cursor: pointer;
  }
  
}


.menu-font {
  font-size: calc(1.6rem + 0.5vw);
  font-weight: 600;

  &:hover {
    color: $color-tertiary-red;
  }
}

.bottom-info {
  width: 90vw;
position: fixed;
bottom: 0;
  height: 7vh;
  border-top: 1px solid $color-secondary-black;
  background: $color-primary-grey;
  z-index: 1;
  align-self: end;
  display: grid;
  grid-template: 1fr / repeat(2, auto);
  align-items: center;
  padding: 0 5vw;

  &__links {
    justify-self: start;
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    justify-items: start;
    column-gap: 3vw;
  }

  &__copyrights {
    justify-self: end;
  }

}


.link {
  cursor: pointer;
  border-color: $color-secondary-black;
  border-bottom-width: 1px;
  border-style: solid;
}

.link:hover {
  color: $color-tertiary-red;
  border-color: $color-tertiary-red;
}

h2.Casablanca {
  grid-area: 13 / 5 / span 5 / span 3;
  width: 90%;
}

h2 {
  text-align: left;
  font-size: calc(1.3rem + 0.5vw);
  line-height: normal;
  font-weight: 400;
}

a.Casablanca {
  grid-area: 18 / 6 / span 1 / span 2;
  font-weight: 600;
  font-size: calc(2rem + 0.5vw);
  align-self: end;
  border-bottom: 2px solid $color-secondary-black;
  line-height: normal;
  text-align: left;
}

div.Casablanca {
  grid-area: 11 / 5 / span 2 / span 3;
  height: calc(3.3rem + 0.5vw);
  border-bottom: 2px solid $color-secondary-black;
}



.about-desc {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  row-gap: 10px;
  grid-area: 14 / 2 / span 8 / span 4;
}

.about__carousel {
  position: absolute;
  left: 50vw;
  width: 40vw;
  display: grid;
  row-gap: 10px;
  animation: slideshow 60s linear infinite;

  img {
    width: 100%;
  }
}

@keyframes slideshow {
  100% {
    transform: translate3d(0, -85.81428571%, 0);
  }
}

.top-menu {
  position: absolute;
  display: grid;
  grid-template: 4vh auto / 1fr;
  width: 15vw;
  right: 1vw;
  z-index: 5;
  padding: 0px 10px 10px 10px;

  &__list li {
    text-align: left;
    line-height: 400%;
  }

  &__icon {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    place-items: center;
    width: 20px;
    padding: 8px 0;
    justify-self: end;
    cursor: pointer;
  }

  &__icon-1, &__icon-2 {
    width: 20px;
    height: 2px;
    background: $color-secondary-black;
    z-index: 2;
    cursor: pointer;
    transition: .2s;
  }
}

.active.top-menu {
  background: $color-secondary-black;

  &__list {
    display: grid;
  }
}

.active .top-menu__list li .menu-font {
color: $color-primary-grey;
}

.active .top-menu__list li .menu-font:hover {
  color: $color-tertiary-red;
  }


.inactive .top-menu__list {
  display: none;
}

.active .top-menu__icon {
  grid-template: 1fr / 1fr;
}

.active .top-menu__icon-1,  .active .top-menu__icon-2 {
  background: $color-primary-grey;
  transform: rotate(45deg);
  transform-origin: center;
  grid-area: 1 / 1 / span 1 / span 1;
  align-self: center;
  margin: auto;

  }

  div.active .top-menu__icon-2 {
    transform: rotate(-45deg);
  }
  

.is-active {
  position: relative;

  &::after {
    width: 5px;
    height: 5px;
    background: $color-primary-grey;
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 1000000;
    border-radius: 50%;
  }
}


.shop {
  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 4vh repeat(4, auto) 7vh/ 5vw 1fr 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
  row-gap: 50px;


  &__top-tooltip {
    display: grid;
    grid-template-rows: 1fr;
    grid-area: 2 / 2 / span 1 / span 1;
    grid-template-columns: repeat(5,auto);
    width: 50%;
}


  


  &__topImg {
  grid-area: 3 / 2 / span 1 / span 1;
  width: 100%;
  }


  .top-menu {
    position: fixed;
  }
}

.products-container {
  display: grid;
  grid-template: auto auto / 1fr;
  grid-area: 4 / 2 / span 1 / span 1;
  height: fit-content;
  align-items: center;

  &__tooltip {
  height: 5vh;  
  }

  h4 {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: left;
  }

  &__list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    height: fit-content;
    row-gap: 20px;
    grid-area: 2 / 1 / span 1 / span 1;

  
  &__product {

    display: grid;
    place-items: center;
    cursor: pointer;

    &:hover {
      background: $color-secondary-black;

      img {
        opacity: .4;
      }

      h3, h2  {
        color: $color-text-white;
        z-index: 1;
        visibility: visible;
        text-align: center;
      }
    }
    

    img {
      width: 100%;
      grid-area: 1 / 1 / span 1 / span 1;
    }

    &__label {
      grid-area: 1 / 1 / span 1 / span 1;
      visibility: hidden;
      display: grid;
      grid-template: repeat(2, 1fr) / 1fr;
      justify-items: center;
      height: 100%;
      row-gap: 5px;
      padding: 0 5px;

      h2 {
        align-self: end;
        line-height: normal;
      }

      h3 {
        align-self: start;
        font-weight: 300;
      }
    }

  }
}
}

/* 3. Mobile */
/* 4. Tablet */
