html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ebe9e7;
}

html {
  font-size: 6px;
}

a {
  text-decoration: none;
  color: #090909;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid #090909;
}

input {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid #626262;
}

h1 {
  font-size: calc(3.3rem + 0.5vw);
}

h2 {
  font-size: calc(1.3rem + 0.5vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}

h4 {
  font-size: calc(1.6rem + 0.5vw);
}

/* 1. General */
* {
  font-family: "Lato", sans-serif;
}

.home,
.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 4vh repeat(22, 1fr) 7vh/5vw repeat(10, 1fr) 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
}

.logo {
  grid-area: 3/2/span 1/span 1;
  width: 6vw;
}

.newsletter-info {
  background: #ebe9e7;
  height: 4vh;
  width: 100vw;
  grid-area: 1/1/span 12/span 12;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #090909;
  z-index: 1;
  position: fixed;
  top: 0;
}
.newsletter-info__carousel {
  color: #090909;
}
.newsletter-info__carousel__link {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
.newsletter-info__carousel__link:hover {
  color: #dc2121;
}

.info-font {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.imgCasablanca-1 {
  grid-area: 1/7/span 25/span 6;
  width: 40vw;
  justify-self: end;
}

.imgCasablanca-2 {
  grid-area: 15/3/span 9/span 4;
  width: 12vw;
  justify-self: start;
  align-self: end;
}

.imgCasablanca-3 {
  grid-area: 1/5/span 5/span 4;
  width: 10vw;
  justify-self: start;
}

/* 2. Desktop */
.main-menu {
  display: grid;
  justify-items: start;
  grid-area: 6/2/span 3/span 4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu li {
  height: calc(6.6rem + 0.5vw);
  cursor: pointer;
}

.menu-font {
  font-size: calc(1.6rem + 0.5vw);
  font-weight: 600;
}
.menu-font:hover {
  color: #dc2121;
}

.bottom-info {
  width: 90vw;
  position: fixed;
  bottom: 0;
  height: 7vh;
  border-top: 1px solid #090909;
  background: #ebe9e7;
  z-index: 1;
  align-self: end;
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw;
}
.bottom-info__links {
  justify-self: start;
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  justify-items: start;
  -webkit-column-gap: 3vw;
     -moz-column-gap: 3vw;
          column-gap: 3vw;
}
.bottom-info__copyrights {
  justify-self: end;
}

.link {
  cursor: pointer;
  border-color: #090909;
  border-bottom-width: 1px;
  border-style: solid;
}

.link:hover {
  color: #dc2121;
  border-color: #dc2121;
}

h2.Casablanca {
  grid-area: 13/5/span 5/span 3;
  width: 90%;
}

h2 {
  text-align: left;
  font-size: calc(1.3rem + 0.5vw);
  line-height: normal;
  font-weight: 400;
}

a.Casablanca {
  grid-area: 18/6/span 1/span 2;
  font-weight: 600;
  font-size: calc(2rem + 0.5vw);
  align-self: end;
  border-bottom: 2px solid #090909;
  line-height: normal;
  text-align: left;
}

div.Casablanca {
  grid-area: 11/5/span 2/span 3;
  height: calc(3.3rem + 0.5vw);
  border-bottom: 2px solid #090909;
}

.about-desc {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  row-gap: 10px;
  grid-area: 14/2/span 8/span 4;
}

.about__carousel {
  position: absolute;
  left: 50vw;
  width: 40vw;
  display: grid;
  row-gap: 10px;
  -webkit-animation: slideshow 60s linear infinite;
          animation: slideshow 60s linear infinite;
}
.about__carousel img {
  width: 100%;
}

@-webkit-keyframes slideshow {
  100% {
    -webkit-transform: translate3d(0, -85.81428571%, 0);
            transform: translate3d(0, -85.81428571%, 0);
  }
}

@keyframes slideshow {
  100% {
    -webkit-transform: translate3d(0, -85.81428571%, 0);
            transform: translate3d(0, -85.81428571%, 0);
  }
}
.top-menu .is-active {
  position: relative;
}
.top-menu .is-active::after {
  width: 5px;
  height: 5px;
  background: #ebe9e7;
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  z-index: 1000000;
  border-radius: 50%;
}

.shop {
  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 10vh repeat(3, auto) 7vh/5vw 1fr 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
  row-gap: 20px;
}
.shop__top-tooltip {
  display: grid;
  top: 0vh;
  height: 6vh;
  width: 90vw;
  grid-auto-flow: column;
  grid-template: 6vh/calc(15rem + 0.5vw) auto calc(2rem + 0.5vw) calc( 5rem + 0.5vw );
  border-bottom: 1px solid #090909;
  position: fixed;
  background: #ebe9e7;
  padding: 0 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__top-tooltip__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-area: 1/2/span 1/span 1;
  grid-template-columns: repeat(5, auto);
  width: 50%;
  justify-self: start;
}
.shop__top-tooltip__list li {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__top-tooltip__cart-logo {
  width: 100%;
  grid-area: 1/3/span 1/span 1;
}
.shop__top-tooltip .logo {
  height: calc(3rem + 0.5vw);
  grid-area: 1/1/span 1/span 1;
  width: auto;
  cursor: pointer;
}
.shop__top-tooltip .top-menu {
  grid-area: 1/4/span 1/span 1;
  display: grid;
  grid-template: 4vh auto/1fr;
  z-index: 5;
  justify-self: end;
  align-self: start;
}
.shop__top-tooltip .top-menu__list li {
  text-align: left;
  line-height: 400%;
}
.shop__top-tooltip .top-menu__icon {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  place-items: center;
  width: 20px;
  justify-self: end;
  padding: 13px 0;
  cursor: pointer;
  height: 6vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shop__top-tooltip .top-menu__icon-1, .shop__top-tooltip .top-menu__icon-2 {
  width: 20px;
  height: 2px;
  background: #090909;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.shop__topImg {
  grid-area: 2/2/span 1/span 1;
  width: 100%;
}

.active.top-menu {
  background: #090909;
  width: 10vw;
  padding: 0 10px 10px 10px;
}
.active.top-menu__list {
  display: grid;
}

.active .top-menu__list li .menu-font {
  color: #ebe9e7;
}

.active .top-menu__list li .menu-font:hover {
  color: #dc2121;
}

.inactive .top-menu__list {
  display: none;
}

.active .top-menu__icon {
  grid-template: 1fr/1fr;
}

.active div.top-menu__icon-1,
.active div.top-menu__icon-2 {
  background: #ebe9e7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  grid-area: 1/1/span 1/span 1;
  align-self: center;
  margin: auto;
}

div.active .top-menu__icon-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pop__bcg.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #090909;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  display: block;
  z-index: 1;
}

.pop__content.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  height: 20vh;
  width: 30vw;
  padding: 40px;
  grid-template: 1fr auto/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  z-index: 2;
}
.pop__content.active input {
  height: calc(6rem + 0.5vw);
  grid-area: 2/1/span 1/span 1;
  padding-left: 10px;
  display: block;
}
.pop__content.active h2 {
  width: 80%;
  grid-area: 1/1/span 1/span 1;
  display: block;
}
.pop__content.active button {
  grid-area: 2/1/span 1/span 1;
  width: calc(6rem + 0.5vw + 2px);
  height: 100%;
  justify-self: end;
  background: #090909;
  display: grid;
  place-items: center;
}
.pop__content.active button svg {
  height: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pop__content.active button svg path {
  fill: #ffffff;
}

.pop__close.active {
  grid-area: 1/1/span 1/span 1;
  height: 3rem;
  width: 3rem;
  align-self: start;
  justify-self: end;
  display: block;
  cursor: pointer;
}

.pop__svg {
  cursor: pointer;
}

.pop {
  display: none;
}

svg {
  height: 100%;
  width: 100%;
}

.products-container {
  display: grid;
  grid-template: auto auto/1fr;
  grid-area: 3/2/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.products-container__tooltip {
  height: 10vh;
  display: grid;
  grid-template: 1fr/1fr auto auto;
}
.products-container__tooltip__sort-container {
  display: grid;
  grid-template: 1fr auto/calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.products-container__tooltip__sort-container__top {
  display: grid;
  height: calc(5rem + 0.5vw);
  align-self: start;
  grid-template: 1fr/calc(8rem + 0.5vw) calc(33rem + 0.5vw) calc(3rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: 1/1/span 1/span 3;
  border-bottom: 1px solid #090909;
}
.products-container__tooltip__sort-container__top__title {
  grid-area: 1/1/span 1/span 1;
}
.products-container__tooltip__sort-container__top__default {
  grid-area: 1/2/span 1/span 1;
  padding: 0 10px;
}
.products-container__tooltip__sort-container__top .arrow {
  grid-area: 1/3/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  justify-self: center;
}
.products-container__tooltip__sort-container__top .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.products-container__tooltip__sort-container__list {
  grid-area: 2/2/span 1/span 1;
  display: none;
  background: #ebe9e7;
  border: 1px solid #090909;
  border-top: none;
}
.products-container__tooltip__sort-container__list.active {
  display: grid;
}
.products-container__tooltip__sort-container__list li {
  cursor: pointer;
}
.products-container__tooltip__sort-container__list li:hover {
  background: #bfbfbf;
}
.products-container__tooltip__sort-container__list li h2 {
  padding: 10px 10px 10px 10px;
}
.products-container__tooltip__sort-container__list li:not(:last-child) {
  border-bottom: 1px solid #bfbfbf;
}
.products-container h4 {
  grid-area: 1/1/span 1/span 1;
  justify-self: left;
}
.products-container__list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  row-gap: 20px;
  grid-area: 2/1/span 1/span 1;
}
.products-container__list__product {
  display: grid;
  place-items: center;
  cursor: pointer;
  grid-template-rows: auto calc(9rem + 0.5vw);
}
.products-container__list__product:hover img, .products-container__list__product:hover .products-container__list__product__sizes {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.products-container__list__product__sizes {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  grid-area: 1/1/span 1/span 1;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.products-container__list__product__sizes h2 {
  visibility: hidden;
  color: #ffffff;
}
.unavailable .products-container__list__product__sizes {
  background: #090909;
}
.unavailable .products-container__list__product__sizes h2 {
  visibility: visible;
}
.products-container__list__product img {
  width: 100%;
  grid-area: 1/1/span 1/span 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.products-container__list__product__label {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  justify-items: left;
  height: 100%;
  row-gap: 5px;
  width: 100%;
  padding: 10px 0;
}
.products-container__list__product__label h2 {
  -ms-flex-item-align: end;
      align-self: end;
  text-align: left;
  font-weight: 400;
  font-size: calc(1rem + 0.5vw);
}
.products-container__list__product__label h3 {
  -ms-flex-item-align: start;
      align-self: start;
  text-align: left;
  font-size: calc(1rem + 0.5vw);
}

.pagination {
  grid-area: 4/2/span 1/span 1;
  display: grid;
  padding: 30px 0;
}
.pagination .page-number-container {
  display: grid;
}
.pagination .page-number-container .number-wrap {
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  width: 30%;
}
.pagination .page-number-container .number-wrap li {
  cursor: pointer;
}
.pagination .page-number-container .number-wrap li[isclicked=true] {
  color: #dc2121;
}

.product-item-container {
  grid-area: 4/2/span 1/span 1;
  display: grid;
  grid-template: 1fr/1fr auto 5fr;
  height: 70vh;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.product-item-container__back {
  grid-area: 1/1/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: none;
}
.product-item-container__toggle-product {
  grid-area: 1/3/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}
.product-item-container__toggle-product button {
  background: none;
}
.product-item-container__info {
  grid-area: 1/3/span 1/span 1;
  height: 50vh;
  align-self: end;
  grid-template: 1fr 2fr calc(4rem + 0.5vw) 1fr/1fr;
  display: grid;
  padding: 0px 100px;
  align-self: center;
  row-gap: 15px;
}
.product-item-container__info__main {
  grid-area: 1/1/span 1/span 1;
  display: grid;
  grid-template: auto auto/1fr 1fr;
}
.product-item-container__info__main__price {
  text-align: right;
}
.product-item-container__info h4 {
  line-height: normal;
}
.product-item-container__info h3 {
  color: #626262;
}
.product-item-container__info__desc {
  grid-area: 2/1/span 1/span 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top: 1px solid black;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.product-item-container__info__size-picker {
  grid-area: 3/1/span 1/span 1;
  border: 1px solid #090909;
  height: calc(4rem + 0.5vw);
  align-self: center;
  display: grid;
  height: auto;
  grid-template: calc(4rem + 0.5vw) auto/auto 5fr calc(3rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  align-self: start;
}
.product-item-container__info__size-picker__default {
  grid-area: 1/2/span 1/span 1;
  padding-left: calc(1rem + 0.5vw);
}
.product-item-container__info__size-picker__list {
  grid-area: 2/1/auto/span 3;
  display: none;
  grid-auto-flow: row;
  z-index: 1;
  max-height: calc(20rem + 0.5vw);
  background: #ebe9e7;
  border-top: 1px solid #090909;
  overflow-y: scroll;
}
.product-item-container__info__size-picker__list.active {
  display: grid;
}
.product-item-container__info__size-picker__list li:not(:last-child) {
  border-bottom: 1px solid #bfbfbf;
}
.product-item-container__info__size-picker__list li {
  padding-left: calc(9.7rem + 0.5vw);
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  height: calc(3.5rem + 0.5vw);
}
.product-item-container__info__size-picker__list li.available {
  cursor: pointer;
}
.product-item-container__info__size-picker__list li.available:hover {
  background: #bfbfbf;
}
.product-item-container__info__size-picker__list li.unavailable {
  color: #626262;
  cursor: initial;
}
.product-item-container__info__size-picker__list li.unavailable .notify {
  text-decoration: underline;
  cursor: pointer;
}
.product-item-container__info__size-picker__arrow {
  grid-area: 1/3/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.product-item-container__info__size-picker__arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.product-item-container__info__size-picker__title {
  grid-area: 1/1/span 1/span 1;
  padding: 0 10px;
  height: 100%;
  line-height: calc(4rem + 0.5vw);
  border-right: 1px solid black;
}
.product-item-container__info__button {
  grid-area: 4/1/span 1/span 1;
  background: #090909;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  height: calc(6rem + 0.5vw);
  cursor: pointer;
  align-self: center;
}
.product-item-container img {
  grid-area: 1/2/span 1/span 1;
  height: 70vh;
}

button:hover {
  opacity: 0.9;
}

/* 3. Mobile */
/* 4. Tablet *//*# sourceMappingURL=App.css.map */