html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ffffff;
}

html {
  font-size: 6px;
}

a {
  text-decoration: none;
  color: #090909;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid #acacac;
}

input {
  outline: none;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid #cecece;
}

h1 {
  font-size: calc(3.3rem + 0.5vw);
}

h2 {
  font-size: calc(1.3rem + 0.5vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}

h4 {
  font-size: calc(1.6rem + 0.5vw);
}

.error__p {
  color: #dc2121;
  font-size: calc(0.6rem + 0.5vw);
  padding-top: 3px;
}

/* 1. General */
* {
  font-family: "Lato", sans-serif;
}

.home,
.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 4vh repeat(22, 1fr) 7vh/5vw repeat(10, 1fr) 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
}

.logo-container {
  grid-area: 3/2/span 2/span 2;
}

.logo {
  grid-area: 3/2/span 1/span 1;
  width: 6vw;
}

.scroll-info {
  top: 60vh;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 15vw;
  display: grid;
  cursor: pointer;
}
.scroll-info h3 {
  color: #ffffff;
  grid-area: 1/1/span/span 1;
  line-height: normal;
}
.scroll-info div {
  height: 2px;
  width: 0%;
  grid-area: 1/1/span/span 1;
  align-self: end;
  background: #ffffff;
  animation: expand 3s alternate-reverse infinite;
}
@-webkit-keyframes expand {
  0% {
    width: 65%;
  }
  100% {
    width: 100%;
  }
}
@keyframes expand {
  0% {
    width: 65%;
  }
  100% {
    width: 100%;
  }
}

.form-overflow {
  display: grid;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  row-gap: 20px;
  max-height: 33vh;
  width: calc(100% + 5px);
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.form-overflow label {
  display: grid;
  width: calc(100% - 5px);
}
.form-overflow label input,
.form-overflow label button {
  width: calc(100% - 15px) !important;
}
.form-overflow::-webkit-scrollbar {
  width: 3px;
}
.form-overflow::-webkit-scrollbar-track {
  background: #ffffff;
  width: 1px;
  border: none;
}
.form-overflow::-webkit-scrollbar-thumb {
  background: #090909;
}
.form-overflow::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.newsletter-info {
  background: #ffffff;
  height: 4vh;
  width: 100vw;
  grid-area: 1/1/span 12/span 12;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #090909;
  z-index: 1;
  position: fixed;
  top: 0;
}
.newsletter-info__carousel {
  color: #090909;
}
.newsletter-info__carousel__link {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
.newsletter-info__carousel__link:hover {
  color: #dc2121;
}

.checkout {
  grid-area: 2/2/span 2/span 1;
  width: 63%;
  background: #ffffff;
}
.checkout__form {
  display: grid;
  row-gap: 20px;
  grid-template: 5vh auto/1fr;
  height: auto;
}
.checkout__form__personal-data {
  display: grid;
  row-gap: 5px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}
.checkout__form__personal-data.active {
  row-gap: 30px;
}
.checkout__form__personal-data.active .checkout__form__personal-data__tooltip h4 {
  font-weight: 600;
}
.checkout__form__personal-data__tooltip {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.checkout__form__personal-data__tooltip h4 {
  font-weight: 400;
}
.checkout__form__personal-data__tooltip .arrow {
  grid-area: 1/2/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.checkout__form__personal-data__tooltip .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.checkout__form__personal-data__content {
  display: grid;
  row-gap: 15px;
}
.checkout__form__personal-data__content .nav-link {
  height: calc(6rem + 0.5vw);
  width: 100%;
  -ms-flex-item-align: end;
      align-self: end;
}
.checkout__form__personal-data__content .nav-link button {
  -ms-flex-item-align: end;
      align-self: end;
  background: #090909;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.checkout__form .past {
  padding: 15px;
  background: #fafafa;
  display: grid;
  row-gap: 5px;
}
.checkout__form .past h3 {
  font-weight: 400;
}
.checkout__form__delivery {
  display: grid;
  row-gap: 5px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}
.checkout__form__delivery.active {
  row-gap: 30px;
}
.checkout__form__delivery.active .checkout__form__delivery__tooltip h4 {
  font-weight: 600;
}
.checkout__form__delivery__tooltip {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.checkout__form__delivery__tooltip h4 {
  font-weight: 400;
}
.checkout__form__delivery__tooltip .arrow {
  grid-area: 1/2/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.checkout__form__delivery__tooltip .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.checkout__form__delivery__content {
  display: grid;
  row-gap: 20px;
}
.checkout__form__delivery__content .nav-link {
  height: calc(6rem + 0.5vw);
  width: 100%;
  -ms-flex-item-align: end;
      align-self: end;
}
.checkout__form__delivery__content .nav-link button {
  -ms-flex-item-align: end;
      align-self: end;
  background: #090909;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.checkout__form__delivery__content .switch {
  position: relative;
  display: inline-block;
  height: calc(3rem + 0.5vw);
  width: auto;
  justify-self: end;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/auto auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.checkout__form__delivery__content .switch h3 {
  grid-area: 1/1/span 1/span 1;
}
.checkout__form__delivery__content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkout__form__delivery__content .switch input:checked + .slider {
  background-color: #dc2121;
}
.checkout__form__delivery__content .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #dc2121;
          box-shadow: 0 0 1px #dc2121;
}
.checkout__form__delivery__content .switch input:checked + .slider:before {
  -webkit-transform: translateX(calc(1.5rem + 0.5vw - 4px));
  transform: translateX(calc(1.5rem + 0.5vw - 4px));
}
.checkout__form__delivery__content .switch .slider {
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: calc(5rem + 0.5vw);
  height: calc(3rem + 0.5vw);
  grid-area: 1/2/span 1/span 1;
}
.checkout__form__delivery__content .switch .slider::before {
  position: absolute;
  content: "";
  height: calc(3rem + 0.5vw - 2px);
  width: calc(3rem + 0.5vw - 2px);
  left: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.checkout__form__delivery__content .switch .slider.round {
  border-radius: calc(3rem + 0.5vw);
}
.checkout__form__delivery__content .switch .slider.round::before {
  border-radius: 50%;
}
.checkout__form__delivery__content .checkout__form__line-1 {
  padding-top: 10px;
  grid-area: 1/1/span 1/span 1;
}
.checkout__form__delivery__content__list-header {
  grid-template: 1fr/2fr 1fr 1fr calc(5rem + 0.5vw);
  display: grid;
}
.checkout__form__delivery__content__address {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
}
.checkout__form__delivery__content__address .else.active,
.checkout__form__delivery__content__address .inpost.active {
  display: grid;
}
.checkout__form__delivery__content__address .else,
.checkout__form__delivery__content__address .inpost {
  display: none;
}
.checkout__form__delivery__content__list {
  display: grid;
  row-gap: 15px;
}
.checkout__form__delivery__content__list li {
  display: grid;
  row-gap: 10px;
  grid-template: 1fr/2fr 1fr 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout__form__delivery__content__list li img {
  height: calc(5rem + 0.5vw);
}
.checkout__form__delivery__content__list li label {
  display: grid;
  grid-template: 1fr/calc(2rem + 0.5vw) 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.checkout__form__delivery__content__list li label input {
  height: calc(2rem + 0.5vw);
  justify-self: start;
  margin: 0;
  cursor: pointer;
}
.checkout__form__payment {
  display: grid;
  row-gap: 5px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}
.checkout__form__payment.active {
  row-gap: 30px;
}
.checkout__form__payment.active .checkout__form__payment__tooltip h4 {
  font-weight: 600;
}
.checkout__form__payment__tooltip {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.checkout__form__payment__tooltip h4 {
  font-weight: 400;
}
.checkout__form__payment__tooltip .arrow {
  grid-area: 1/2/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.checkout__form__payment__tooltip .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.checkout__form__payment__content {
  display: grid;
  row-gap: 15px;
}
.checkout__form__payment__content__list {
  display: grid;
  grid-row-gap: 15px;
  row-gap: 15px;
}
.checkout__form__payment__content__list li {
  display: grid;
  grid-row-gap: 10px;
  row-gap: 10px;
  grid-template: 1fr/2fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout__form__payment__content__list li img {
  height: calc(5rem + 0.5vw);
}
.checkout__form__payment__content__list li label {
  display: grid;
  grid-template: 1fr/calc(2rem + 0.5vw) 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.checkout__form__payment__content__list li label input {
  height: calc(2rem + 0.5vw);
  justify-self: start;
  margin: 0;
  cursor: pointer;
}
.checkout__form__payment__content__list li .nav-link {
  height: calc(6rem + 0.5vw);
  width: 100%;
  align-self: end;
  grid-area: 4/1/span 1/span 3;
}
.checkout__form__payment__content__list li .nav-link button {
  -ms-flex-item-align: end;
      align-self: end;
  background: #090909;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.checkout__form input {
  height: calc(4rem + 0.5vw);
  width: 100%;
  padding-left: 10px;
}
.checkout__form__line {
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.checkout__form__line label {
  width: 100%;
}
.checkout__form__line label h3 {
  padding: 5px 0;
}
.checkout__form__line label input {
  width: calc(100% - 10px);
  padding-right: 0;
}
.checkout__form__line-1 {
  grid-area: 2/1/span 1/span 1;
}
.checkout__form__phone, .checkout__form__code, .checkout__form__country {
  width: calc(20rem + 0.5vw);
}
.checkout__edit {
  justify-self: end;
  text-decoration: underline;
  cursor: pointer;
}
.checkout__summary {
  position: fixed;
  background: #fafafa;
  width: 25vw;
  right: 0;
  top: 0;
  height: 70vh;
  z-index: 0;
  padding: 15vh 3vw;
  display: grid;
  grid-template: 10vh auto 5vh 5vh/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}
.checkout__summary__edit {
  position: fixed;
  right: 3vw;
  text-decoration: underline;
  cursor: pointer;
}
.checkout__summary__list {
  -ms-flex-item-align: start;
      align-self: start;
}
.checkout__summary__list li {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  padding: calc(0rem + 0.5vw) 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr auto/3fr 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}
.checkout__summary__list li .cart__info {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
}
.checkout__summary__list li .cart__info h3 {
  color: #acacac;
  font-weight: 400;
  font-size: calc(0.8rem + 0.5vw);
}
.checkout__summary__list li .cart__items {
  grid-area: 1/2/span 1/span 1;
}
.checkout__summary__list li .cart__total {
  grid-area: 1/3/span 1/span 1;
  text-align: right;
}
.checkout__summary__list li .cart__line {
  height: 1px;
  background: #f3f3f3;
  width: 100%;
  grid-area: 2/1/span 1/span 3;
}
.checkout__summary__total {
  display: grid;
  grid-auto-flow: column;
  align-self: start;
}
.checkout__summary__total__title {
  font-weight: 600;
}
.checkout__summary__total__value {
  justify-self: end;
}
.checkout__summary__total__items {
  justify-self: center;
}
.checkout__summary__shipping {
  display: grid;
  grid-auto-flow: column;
}
.checkout__summary__shipping__value {
  justify-self: end;
}

.newsletter {
  display: none;
  row-gap: 10px;
}
.newsletter input[type=text] {
  height: calc(6rem + 0.5vw);
  grid-area: 3/1/span 1/span 1;
  padding-left: 10px;
  display: block;
}
.newsletter__checkbox-container {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/auto 1fr;
}
.newsletter__checkbox-container input[type=checkbox] {
  grid-area: 1/1/span 1/span 1;
}
.newsletter h2 {
  width: 80%;
  grid-area: 1/1/span 1/span 1;
  display: block;
}
.newsletter.newsletter button {
  grid-area: 3/1/span 1/span 1;
  width: calc(6rem + 0.5vw + 2px);
  height: 100%;
  justify-self: end;
  background: #090909;
  display: grid;
  place-items: center;
}
.newsletter.newsletter button svg {
  height: 40%;
}
.newsletter.newsletter button svg path {
  fill: #ffffff;
  display: none;
}
.newsletter.newsletter button svg path.active {
  display: block;
}
.newsletter.active {
  display: block;
}

.info-font {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.imgCasablanca-1 {
  grid-area: 1/7/span 25/span 6;
  width: 40vw;
  justify-self: end;
}

.imgCasablanca-2 {
  grid-area: 15/3/span 9/span 4;
  width: 12vw;
  justify-self: start;
  align-self: end;
}

.imgCasablanca-3 {
  grid-area: 1/5/span 5/span 4;
  width: 10vw;
  justify-self: start;
}

/* 2. Desktop */
.main-menu {
  display: grid;
  justify-items: start;
  grid-area: 6/2/span 3/span 4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu li {
  height: calc(6.6rem + 0.5vw);
  cursor: pointer;
}

.menu-font {
  font-size: calc(1.6rem + 0.5vw);
  font-weight: 600;
}
.menu-font:hover {
  color: #dc2121;
}

.bottom-info {
  width: 90vw;
  position: fixed;
  bottom: 0;
  height: 7vh;
  border-top: 1px solid #cecece;
  background: #ffffff;
  z-index: 2;
  align-self: end;
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw;
}
.bottom-info__links {
  justify-self: start;
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  justify-items: start;
  -webkit-column-gap: 3vw;
     -moz-column-gap: 3vw;
          column-gap: 3vw;
}
.bottom-info__copyrights {
  justify-self: end;
}

.link {
  cursor: pointer;
  border-color: #090909;
  border-bottom-width: 1px;
  border-style: solid;
}

.link-2:hover {
  color: #dc2121;
  border-color: #dc2121;
}

.link-1:hover {
  opacity: 0.9;
}

h2.Casablanca {
  grid-area: 13/5/span 5/span 3;
  width: 90%;
}

h2 {
  text-align: left;
  font-size: calc(1.3rem + 0.5vw);
  line-height: normal;
  font-weight: 400;
}

a.Casablanca {
  grid-area: 18/6/span 1/span 4;
  font-size: calc(2rem + 0.5vw);
  align-self: end;
  background: #dc2121;
  line-height: 200%;
  text-align: right;
  padding-right: calc(1rem + 0.5vw);
  color: #ffffff;
  border: none;
}

div.Casablanca {
  grid-area: 11/5/span 2/span 3;
  height: calc(3.3rem + 0.5vw);
  border-bottom: 2px solid #090909;
}

.about-desc {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  row-gap: 10px;
  grid-area: 14/2/span 8/span 4;
}

.about__carousel {
  position: absolute;
  left: 50vw;
  width: 40vw;
  display: grid;
  row-gap: 10px;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 50px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.about__carousel::-webkit-scrollbar {
  width: 10px;
}
.about__carousel::-webkit-scrollbar-track {
  background: #ffffff;
  width: 1px;
  border: 1px solid #090909;
}
.about__carousel::-webkit-scrollbar-thumb {
  background: #090909;
}
.about__carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.about__carousel img {
  width: 100%;
}

.top-menu li a {
  border-bottom: none;
}
.top-menu li a.is-active.menu-font {
  color: #dc2121;
}

.shop {
  overflow-y: auto;
  display: grid;
  height: auto;
  width: 100vw;
  grid-template: 8vh repeat(2, auto) 7vh/5vw 1fr 5vw;
  overflow-y: hidden;
  top: 0;
  position: absolute;
  row-gap: 20px;
}
.shop__confirmation {
  grid-area: 2/2/span 1/span 1;
  height: 80vh;
  background: #ffffff;
  display: grid;
  justify-items: center;
  row-gap: 50px;
}
.shop__confirmation h4 {
  -ms-flex-item-align: end;
      align-self: end;
}
.shop__confirmation button {
  -ms-flex-item-align: start;
      align-self: start;
  height: calc(6rem + 0.5vw);
  background: #090909;
  border: 1px solid #090909;
  color: #ffffff;
  padding: 0 20px;
}
.shop__top-tooltip {
  display: grid;
  top: 0vh;
  height: 6vh;
  width: 90vw;
  grid-auto-flow: column;
  grid-template: 6vh/calc(15rem + 0.5vw) auto calc(50rem + 0.5vw) calc(2rem + 0.5vw) calc(2.3rem + 0.5vw);
  border-bottom: 1px solid #cecece;
  position: fixed;
  background: #ffffff;
  padding: 0 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  z-index: 3;
}
.shop__top-tooltip__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-area: 1/2/span 1/span 1;
  grid-template-columns: repeat(5, auto);
  width: 50%;
  justify-self: start;
}
.shop__top-tooltip__list li {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__top-tooltip__list li a.is-active {
  color: #dc2121;
}
.shop__top-tooltip__list li a:hover {
  color: #dc2121;
}
.shop__top-tooltip .search-container {
  display: grid;
  grid-auto-flow: column;
  width: 4vh;
  grid-template: 1fr/4vh 1fr 4vh 4vh;
  height: 4vh;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  justify-self: end;
}
.shop__top-tooltip .search-container.active {
  border-bottom: 1.5px solid #cecece;
  width: calc(50rem + 0.5vw);
}
.shop__top-tooltip .search-container.active.focused {
  border-bottom: 1.5px solid #000000;
}
.shop__top-tooltip .search-container.active .search-container__icon svg path {
  fill: #626262;
}
.shop__top-tooltip .search-container input {
  width: 100%;
  padding-right: 0;
  border: none;
}
.shop__top-tooltip .search-container__icon, .shop__top-tooltip .search-container__close, .shop__top-tooltip .search-container__arrow {
  width: 4vh;
  height: 4vh;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.shop__top-tooltip .search-container__icon:hover svg path, .shop__top-tooltip .search-container__close:hover svg path, .shop__top-tooltip .search-container__arrow:hover svg path {
  fill: #dc2121;
}
.shop__top-tooltip .search-container__icon svg, .shop__top-tooltip .search-container__close svg, .shop__top-tooltip .search-container__arrow svg {
  width: calc(1.3rem + 0.5vw);
}
.shop__top-tooltip .search-container__icon svg path, .shop__top-tooltip .search-container__close svg path, .shop__top-tooltip .search-container__arrow svg path {
  fill: #090909;
}
.shop__top-tooltip .search-container__close.show, .shop__top-tooltip .search-container__arrow.show {
  display: grid;
}
.shop__top-tooltip .search-container__close svg {
  height: 80%;
}
.shop__top-tooltip .search-container__close svg path {
  fill: #626262;
}
.shop__top-tooltip .search-container__close, .shop__top-tooltip .search-container__arrow {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: none;
}
.shop__top-tooltip__cart-logo {
  width: 100%;
  grid-area: 1/3/span 1/span 1;
  display: grid;
  place-items: center;
}
.shop__top-tooltip__cart-logo svg {
  grid-area: 1/1/span 1/span 1;
}
.shop__top-tooltip__cart-logo svg path {
  stroke: #090909;
  stroke-width: 1.6px;
}
.shop__top-tooltip__cart-logo .items-counter {
  grid-area: 1/1/span 1/span 1;
  text-align: center;
  color: #dc2121;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.shop__top-tooltip .logo {
  height: calc(3rem + 0.5vw);
  grid-area: 1/1/span 1/span 1;
  width: auto;
  cursor: pointer;
}
.shop__top-tooltip .top-menu {
  grid-area: 1/5/span 1/span 1;
  display: grid;
  grid-template: 4vh auto/1fr;
  z-index: 5;
  justify-self: end;
  align-self: start;
}
.shop__top-tooltip .top-menu__list {
  padding: 20vh 30px;
  display: grid;
}
.shop__top-tooltip .top-menu__list li {
  text-align: left;
  line-height: 600%;
}
.shop__top-tooltip .top-menu__icon {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  place-items: center;
  width: 20px;
  justify-self: end;
  padding: 13px 0;
  cursor: pointer;
  height: 6vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shop__top-tooltip .top-menu__icon-1, .shop__top-tooltip .top-menu__icon-2 {
  width: 20px;
  height: 1.6px;
  background: #090909;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.shop__topImg {
  grid-area: 2/2/span 1/span 1;
  width: 100%;
}
.shop .pagination-container {
  grid-area: 3/2/span 1/span 1;
  display: grid;
  place-items: center;
  grid-template: 1fr/1fr;
}
.shop .pagination-container .pagination {
  display: grid;
  grid-auto-flow: column;
  grid-area: 1/1/span 1/span 1;
  place-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.shop .pagination-container .pagination li {
  place-items: center;
}
.shop .pagination-container .pagination li.active a {
  color: #dc2121;
}
.shop .pagination-container .pagination li a.next, .shop .pagination-container .pagination li a.previous {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr/auto auto;
  place-items: center;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}
.shop .pagination-container .pagination li a.next div h3, .shop .pagination-container .pagination li a.previous div h3 {
  -webkit-transform: translate(0, -3%);
          transform: translate(0, -3%);
  font-size: calc(1.5rem + 0.5vw);
}
.shop .cart-login {
  grid-area: 2/2/span 1/span 1;
  height: 75vh;
  display: grid;
  place-items: center;
}
.shop .cart-login__form-container {
  height: auto;
  width: calc(60rem + 0.5vw);
  display: grid;
  padding: 30px;
  background: #f3f3f3;
  grid-auto-flow: row;
  row-gap: 20px;
}
.shop .cart-login__form-container label > h3 {
  padding: 5px 0;
}
.shop .cart-login__form-container input {
  height: calc(4rem + 0.5vw);
  width: 100%;
  padding-left: 10px;
}
.shop .cart-login__form-container__submit {
  height: calc(6rem + 0.5vw);
  width: 100%;
  cursor: pointer;
  border: 1px solid #090909;
  background: #090909;
  color: #ffffff;
}
.shop .cart-login__form-container__buttons {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  height: calc(6rem + 0.5vw);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.shop .cart-login__form-container__buttons__guest {
  cursor: pointer;
  border: 1px solid #090909;
  background: #ffffff;
}
.shop .cart-login__form-container__buttons__toggle {
  cursor: pointer;
  border: 1px solid #090909;
  background: #090909;
  color: #ffffff;
}

.active.top-menu {
  background: #ffffff;
  width: calc(25vw - 20px);
  padding: 0 10px 10px 0px;
  height: 100vh;
  position: fixed;
  right: 0;
}
.active.top-menu__list {
  display: grid;
}
.active.top-menu .top-menu__bcg {
  position: fixed;
  height: 100vh;
  width: 75vw;
  z-index: 1;
  background: #090909;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.active .top-menu__list li .menu-font {
  color: #090909;
}

.active .top-menu__list li .menu-font:hover {
  color: #dc2121;
}

.inactive .top-menu__list {
  display: none;
}

.active .top-menu__icon {
  grid-template: 1fr/1fr;
}

.active div.top-menu__icon-1,
.active div.top-menu__icon-2 {
  background: #090909;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  grid-area: 1/1/span 1/span 1;
  align-self: center;
  margin: auto;
}

div.active .top-menu__icon-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pop__bcg.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #090909;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  display: block;
  z-index: 2;
}

.pop__content.active {
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  height: 20vh;
  width: 30vw;
  padding: 40px;
  grid-template: 1fr auto/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  z-index: 2;
}
.pop__content.active.notify input {
  height: calc(6rem + 0.5vw);
  grid-area: 2/1/span 1/span 1;
  padding-left: 10px;
  display: block;
}
.pop__content.active h2 {
  width: 80%;
  grid-area: 1/1/span 1/span 1;
  display: block;
}
.pop__content.active.notify button {
  grid-area: 2/1/span 1/span 1;
  width: calc(6rem + 0.5vw + 2px);
  height: 100%;
  justify-self: end;
  background: #090909;
  display: grid;
  place-items: center;
}
.pop__content.active.notify button svg {
  height: 40%;
}
.pop__content.active.notify button svg path {
  fill: #ffffff;
  display: none;
}
.pop__content.active.notify button svg path.active {
  display: block;
}
.pop__content.active .pop-cart-continue__buttons {
  grid-area: 2/1/span 1/span 1;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.pop__content.active .pop-cart-continue__buttons button {
  height: calc(6rem + 0.5vw);
  width: 100%;
}
.pop__content.active .pop-cart-continue__buttons__continue {
  background: #ffffff;
  border: 1px solid #090909;
  color: #090909;
}
.pop__content.active .pop-cart-continue__buttons__cart {
  background: #090909;
  border: 1px solid #090909;
  color: #ffffff;
}

.pop__close.active {
  grid-area: 1/1/span 1/span 1;
  height: 3rem;
  width: 3rem;
  align-self: start;
  justify-self: end;
  display: block;
  cursor: pointer;
}

.pop__svg {
  cursor: pointer;
}

.pop {
  display: none;
}

svg {
  height: 100%;
  width: 100%;
}

.search-no-results {
  background: #ffffff;
  grid-area: 2/2/span 2/span 1;
  z-index: -3;
  height: 80vh;
  text-align: center;
  line-height: 70vh;
}
.search-no-results.active {
  z-index: -1;
}

.search-loader-container {
  background: #ffffff;
  grid-area: 2/2/span 2/span 1;
  z-index: -2;
  height: 80vh;
}
.search-loader-container.active {
  display: block;
}
.search-loader-container .search-loader {
  color: #f3f3f3;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: absolute;
  top: calc(50vh - 10em);
  left: calc(50vw - 5em);
  width: 10em;
  height: 10em;
  -webkit-box-shadow: inset 0 0 0 1em;
          box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 50%;
}
.search-loader-container .search-loader:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.search-loader-container .search-loader:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.products-container {
  display: grid;
  grid-template: auto auto/1fr;
  grid-area: 2/2/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background: #ffffff;
  z-index: 1;
}
.products-container__tooltip {
  height: 10vh;
  display: grid;
  grid-template: 1fr/1fr auto auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.products-container__tooltip__filter-container {
  display: grid;
  grid-template: 1fr auto/calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  cursor: pointer;
}
.products-container__tooltip__filter-container__top {
  height: calc(5rem + 0.5vw);
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/calc(6rem + 0.5vw) 1fr calc(3rem + 0.5vw);
  border-bottom: 1px solid #090909;
  grid-area: 1/1/span 1/span 3;
}
.products-container__tooltip__filter-container__top__value {
  padding: 0 10px;
}
.products-container__tooltip__filter-container__top .arrow {
  grid-area: 1/3/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  justify-self: center;
}
.products-container__tooltip__filter-container__top .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.products-container__tooltip__filter-container__dashboard {
  width: calc(50rem + 0.5vw);
  background: white;
  border: 1px solid black;
  display: none;
  padding: 10px;
  row-gap: 10px;
  border-top: none;
  grid-area: 2/2/span 1/span 1;
  z-index: 10;
}
.products-container__tooltip__filter-container__dashboard.active {
  display: grid;
}
.products-container__tooltip__filter-container__dashboard__material-container {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/auto 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.products-container__tooltip__filter-container__dashboard__material-container label {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.products-container__tooltip__filter-container__dashboard__collection-container {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/auto 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.products-container__tooltip__filter-container__dashboard__collection-container label {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.products-container__tooltip__filter-container__dashboard .price-slider__range {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider {
  height: calc(3rem + 0.5vw);
  position: relative;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider-bar {
  background: #cecece;
  height: 4px;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip[class*=placement-top] {
  margin-top: -8px;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip[class*=placement-top] .rs-tooltip-arrow {
  bottom: -6px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #272c36;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip .rs-tooltip-inner {
  max-width: 250px;
  padding: 2px 10px;
  color: #fff;
  text-align: center;
  background-color: #272c36;
  border-radius: 4px;
  overflow-wrap: break-word;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip .rs-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip.placement-bottom .rs-tooltip-arrow,
.products-container__tooltip__filter-container__dashboard .price-slider .rs-tooltip.placement-top .rs-tooltip-arrow {
  left: 50%;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider-progress-bar {
  background: #090909;
  height: 4px;
  position: absolute;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider-handle {
  position: absolute;
  top: -50%;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider-handle::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #090909;
  margin-left: -6px;
  cursor: pointer;
  margin-top: 8px;
}
.products-container__tooltip__filter-container__dashboard .price-slider .rs-slider .rs-tooltip {
  display: none;
}
.products-container__tooltip__filter-container__dashboard .price-slider__inputs {
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  place-items: center;
}
.products-container__tooltip__filter-container__dashboard .price-slider__inputs input {
  width: 100%;
  text-align: center;
}
.products-container__tooltip__sort-container {
  display: grid;
  grid-template: 1fr auto/calc(8rem + 0.5vw) 1fr calc(3rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.products-container__tooltip__sort-container__top {
  display: grid;
  height: calc(5rem + 0.5vw);
  align-self: start;
  grid-template: 1fr/calc(8rem + 0.5vw) calc(33rem + 0.5vw) calc( 3rem + 0.5vw );
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: 1/1/span 1/span 3;
  border-bottom: 1px solid #090909;
}
.products-container__tooltip__sort-container__top__title {
  grid-area: 1/1/span 1/span 1;
}
.products-container__tooltip__sort-container__top__default {
  grid-area: 1/2/span 1/span 1;
  padding: 0 10px;
}
.products-container__tooltip__sort-container__top .arrow {
  grid-area: 1/3/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  justify-self: center;
}
.products-container__tooltip__sort-container__top .arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.products-container__tooltip__sort-container__list {
  grid-area: 2/2/span 1/span 1;
  display: none;
  background: #ffffff;
  border: 1px solid #090909;
  border-top: none;
}
.products-container__tooltip__sort-container__list.active {
  display: grid;
}
.products-container__tooltip__sort-container__list li {
  cursor: pointer;
}
.products-container__tooltip__sort-container__list li:hover {
  background: #f3f3f3;
}
.products-container__tooltip__sort-container__list li h2 {
  padding: 10px 10px 10px 10px;
}
.products-container__tooltip__sort-container__list li:not(:last-child) {
  border-bottom: 1px solid #cecece;
}
.products-container h4 {
  grid-area: 1/1/span 1/span 1;
  justify-self: left;
}
.products-container__list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: calc(5rem + 0.5vw);
     -moz-column-gap: calc(5rem + 0.5vw);
          column-gap: calc(5rem + 0.5vw);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  row-gap: calc(5rem + 0.5vw);
  grid-area: 2/1/span 1/span 1;
}
.products-container__list__product {
  display: grid;
  place-items: center;
  cursor: pointer;
  grid-template-rows: auto calc(9rem + 0.5vw);
}
.products-container__list__product:hover img, .products-container__list__product:hover .products-container__list__product__sizes {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.products-container__list__product__sizes {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  grid-area: 1/1/span 1/span 1;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.products-container__list__product__sizes h2 {
  visibility: hidden;
  color: #ffffff;
}
.unavailable .products-container__list__product__sizes {
  background: #090909;
}
.unavailable .products-container__list__product__sizes h2 {
  visibility: visible;
}
.products-container__list__product img {
  width: 100%;
  grid-area: 1/1/span 1/span 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.products-container__list__product .placeholder {
  background: #f3f3f3;
  width: 100%;
  min-width: 20vw;
  aspect-ratio: 1;
  grid-area: 1/1/span 1/span 1;
  z-index: -2;
}
.products-container__list__product__label {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  justify-items: left;
  height: 100%;
  row-gap: 5px;
  width: 100%;
  padding: 10px 0;
}
.products-container__list__product__label__price-container {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.products-container__list__product__label__price-container h2 {
  -ms-flex-item-align: end;
      align-self: end;
  text-align: left;
  font-weight: 400;
  font-size: calc(1rem + 0.5vw);
}
.products-container__list__product__label__price-container__old-price {
  text-decoration: line-through;
  grid-area: 1/1/span 1/span 1;
  font-size: calc(0.7rem + 0.5vw);
  align-self: center;
  text-align: left;
}
.products-container__list__product__label__price-container__new-price {
  color: #dc2121;
  grid-area: 1/2/span 1/span 1;
  font-size: calc(1rem + 0.5vw);
  align-self: center;
  text-align: left;
}
.products-container__list__product__label__price-container__price {
  grid-area: 1/1/span 1/span 1;
  align-self: center;
  text-align: left;
  font-size: calc(1rem + 0.5vw);
}

.cart-container {
  display: grid;
  grid-area: 2/2/span 1/span 1;
  min-height: 80vh;
  grid-template: auto 1fr/1fr;
  row-gap: 0px;
  background: #ffffff;
}
.cart-container__tooltip {
  display: grid;
  grid-template: 1fr/1fr calc(24rem + 0.5vw);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.cart-container__tooltip__icons {
  grid-area: 1/2/span 1/span 1;
  grid-auto-flow: column;
  display: grid;
  -webkit-column-gap: calc(1rem + 0.5vw);
     -moz-column-gap: calc(1rem + 0.5vw);
          column-gap: calc(1rem + 0.5vw);
}
.cart-container__tooltip__icons li {
  border-radius: 50%;
  height: calc(6rem + 0.5vw);
  width: calc(6rem + 0.5vw);
  background: #f3f3f3;
  display: grid;
  place-items: center;
}
.cart-container__tooltip__icons li.active {
  background: #090909;
}
.cart-container__tooltip__icons li.active svg path {
  fill: #ffffff;
}
.cart-container__tooltip__icons li .cart__icon {
  height: 50%;
  width: auto;
}
.cart-container__table {
  display: grid;
  grid-template: calc(5rem + 0.5vw) auto/1fr 3fr 1fr 1fr 25vw;
  row-gap: 20px;
}
.cart-container__table__summary {
  position: fixed;
  background: #fafafa;
  width: 20vw;
  right: 0;
  top: 0;
  height: 70vh;
  z-index: 0;
  padding: 15vh 3vw;
  display: grid;
  grid-template: 10vh auto auto auto 1fr 10vh/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-container__table__summary__title {
  grid-area: 1/1/span 1/span 1;
  color: #626262;
}
.cart-container__table__summary .empty {
  display: none;
}
.cart-container__table__legend {
  grid-area: 1/1/span 1/span 4;
  display: grid;
  grid-template: 1fr/1fr 3fr 1fr 1fr;
  border-bottom: 1px solid #f3f3f3;
}
.cart-container__table__legend__item {
  grid-area: 1/2/span 1/span 1;
}
.cart-container__table__legend__quantity {
  grid-area: 1/3/span 1/span 1;
}
.cart-container__table__legend__subtotal {
  grid-area: 1/4/span 1/span 1;
}
.cart-container__table__products {
  height: auto;
  grid-area: 2/1/span 1/span 4;
}
.cart-container__table__products__item {
  height: calc(20rem + 0.5vw);
  display: grid;
  grid-template: 1fr/1fr 3fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-container__table__products__item__info {
  display: grid;
  grid-auto-flow: row;
  row-gap: 7px;
}
.cart-container__table__products__item__info .cart__model {
  color: #626262;
  font-weight: 400;
}
.cart-container__table__products__item a {
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  grid-template: 1fr/1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: 1/1/span 1/span 2;
}
.cart-container__table__products__item a img {
  height: calc(16rem + 0.5vw);
  justify-self: center;
}
.cart-container__table__products__item a .placeholder {
  display: none;
}
.cart-container__table__products__item .cart__quantityHandler {
  grid-area: 1/3/span 1/span 1;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  border: 1px solid #f3f3f3;
}
.cart-container__table__products__item .cart__quantityHandler button {
  width: calc(3rem + 0.5vw);
  height: calc(3rem + 0.5vw);
  display: grid;
  place-items: center;
  background: transparent;
  align-self: center;
}
.cart-container__table__products__item .cart__quantityHandler button:hover {
  background: #f3f3f3;
}
.cart-container__table__products__item .cart__quantityHandler button h2 {
  text-align: center;
}
.cart-container__table__products__item .cart__quantityHandler__add {
  grid-area: 1/3/span 1/span 1;
  border-left: 1px solid #f3f3f3;
}
.cart-container__table__products__item .cart__quantityHandler__deduct {
  grid-area: 1/1/span 1/span 1;
  border-right: 1px solid #f3f3f3;
}
.cart-container__table__products__item .cart__quantityHandler .cart__qty {
  grid-area: 1/2/span 1/span 1;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cart-container__table__products__item .cart__total {
  grid-area: 1/4/span 1/span 1;
}
.cart-container__table__products__item .cart__exit {
  grid-area: 1/4/span 1/span 1;
  padding: 10px;
  justify-self: end;
  align-self: start;
  background: #ffffff;
}
.cart-container__table__products__item .cart__exit h2 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.cart-container__table__products__item__line {
  height: 1px;
  background: #f3f3f3;
  grid-area: 1/2/span 1/span 3;
  align-self: end;
}
.cart-container__table__products__item__line__empty {
  font-size: calc(1.5rem + 0.5vw);
  height: calc(20rem + 0.5vw);
  line-height: calc(20rem + 0.5vw);
  padding-left: 15vw;
}
.cart-container__table__code {
  grid-area: 4/1/span 1/span 1;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(0rem + 0.5vw) 0;
}
.cart-container__table__code.active button {
  display: none;
}
.cart-container__table__code.active input {
  font-weight: 600;
  text-align: right;
  border: none;
  background: transparent;
}
.cart-container__table__code h3 {
  padding-right: 15px;
  font-weight: 400;
}
.cart-container__table__code input {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  height: calc(4rem + 0.5vw);
}
.cart-container__table__code button {
  background: #090909;
  color: #ffffff;
  height: 100%;
  height: calc(4rem + 0.5vw);
  padding: 0 15px;
  border: 1px solid #090909;
}
.cart-container__table__code__error {
  display: none;
}
.cart-container__table__code__error.active {
  display: block;
  grid-area: 2/1/span 1/span 3;
  padding-top: 5px;
  color: #dc2121;
  justify-self: end;
  font-size: calc(0.5rem + 0.5vw);
  padding-right: 0;
}
.cart-container__table__subtotal {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  height: calc(3rem + 0.5vw);
  padding: calc(0rem + 0.5vw) 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/3fr 1fr 1fr;
}
.cart-container__table__subtotal__value {
  grid-area: 1/3/span 1/span 1;
  justify-self: end;
  font-weight: 600;
}
.cart-container__table__subtotal__title {
  font-weight: 400;
}
.cart-container__table__discount {
  grid-area: 3/1/span 1/span 1;
  display: grid;
  height: calc(3rem + 0.5vw);
  padding: calc(0rem + 0.5vw) 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/3fr 1fr 1fr;
}
.cart-container__table__discount.empty {
  display: none;
}
.cart-container__table__discount__value {
  grid-area: 1/3/span 1/span 1;
  justify-self: end;
  color: #dc2121;
  font-weight: 600;
}
.cart-container__table__discount__title {
  font-weight: 400;
}
.cart-container__table__total {
  grid-area: 5/1/span 1/span 1;
  display: grid;
  height: calc(10rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 1fr/1fr 1fr 1fr;
  align-self: end;
}
.cart-container__table__total__value {
  justify-self: end;
}
.cart-container__table__total__items {
  justify-self: center;
}
.cart-container__table__total__title {
  font-weight: 600;
}
.cart-container__table__buttons {
  grid-area: 6/1/span 1/span 1;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  height: calc(6rem + 0.5vw);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  align-self: end;
}
.cart-container__table__buttons__continue-shopping {
  background: #ffffff;
}
.cart-container__table__buttons__checkout {
  background: #090909;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.cart-container__table__buttons button {
  cursor: pointer;
  border: 1px solid #090909;
}

.pagination {
  grid-area: 4/2/span 1/span 1;
  display: grid;
  padding: 30px 0;
}
.pagination .page-number-container {
  display: grid;
}
.pagination .page-number-container .number-wrap {
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  width: 30%;
}
.pagination .page-number-container .number-wrap li {
  cursor: pointer;
}
.pagination .page-number-container .number-wrap li[isclicked=true] {
  color: #dc2121;
}

.product-item-container {
  grid-area: 3/2/span 1/span 1;
  display: grid;
  grid-template: 1fr/1fr auto 5fr;
  height: 70vh;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  background: #ffffff;
  -webkit-transform: translateY(-5vh);
          transform: translateY(-5vh);
}
.product-item-container__back {
  grid-area: 1/1/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: none;
}
.product-item-container__toggle-product {
  grid-area: 1/3/span 1/span 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}
.product-item-container__toggle-product button {
  background: none;
}
.product-item-container__info {
  grid-area: 1/3/span 1/span 1;
  height: 50vh;
  align-self: end;
  grid-template: 1fr 2fr calc(4rem + 0.5vw) 1fr/1fr;
  display: grid;
  padding: 0px 100px;
  align-self: center;
  row-gap: 15px;
}
.product-item-container__info__main {
  grid-area: 1/1/span 1/span 1;
  display: grid;
  grid-template: auto auto/1fr 1fr;
}
.product-item-container__info__main__price-container {
  text-align: right;
  display: grid;
  grid-auto-flow: row;
}
.product-item-container__info__main__price-container__old-price {
  text-decoration: line-through;
  font-size: calc(1.3rem + 0.5vw);
}
.product-item-container__info__main__price-container__new-price {
  color: #dc2121;
}
.product-item-container__info h4 {
  line-height: normal;
}
.product-item-container__info h3 {
  color: #626262;
}
.product-item-container__info__desc {
  grid-area: 2/1/span 1/span 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top: 1px solid black;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.product-item-container__info__size-picker.single {
  border: none;
}
.product-item-container__info__size-picker.single .available {
  display: none;
}
.product-item-container__info__size-picker.single .unavailable {
  grid-area: 1/1/span 1/span 3;
  display: grid;
  grid-auto-flow: column;
  color: #626262;
  cursor: initial;
}
.product-item-container__info__size-picker.single .unavailable:first-child {
  visibility: hidden;
}
.product-item-container__info__size-picker.single .unavailable .notify {
  text-align: end;
  visibility: visible;
  text-decoration: underline;
  cursor: pointer;
}
.product-item-container__info__size-picker {
  grid-area: 3/1/span 1/span 1;
  border: 1px solid #090909;
  height: calc(4rem + 0.5vw);
  align-self: center;
  display: grid;
  height: auto;
  grid-template: calc(4rem + 0.5vw) auto/auto 5fr calc(3rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  align-self: start;
}
.product-item-container__info__size-picker__default {
  grid-area: 1/2/span 1/span 1;
  padding-left: calc(1rem + 0.5vw);
}
.product-item-container__info__size-picker__list {
  grid-area: 2/1/auto/span 3;
  display: none;
  grid-auto-flow: row;
  z-index: 1;
  max-height: calc(20rem + 0.5vw);
  background: #ffffff;
  border-top: 1px solid #090909;
  overflow-y: scroll;
}
.product-item-container__info__size-picker__list.active {
  display: grid;
}
.product-item-container__info__size-picker__list li:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}
.product-item-container__info__size-picker__list li {
  padding-left: calc(9.7rem + 0.5vw);
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  height: calc(3.5rem + 0.5vw);
}
.product-item-container__info__size-picker__list li.available {
  cursor: pointer;
}
.product-item-container__info__size-picker__list li.available:hover {
  background: #f3f3f3;
}
.product-item-container__info__size-picker__list li.unavailable {
  color: #626262;
  cursor: initial;
}
.product-item-container__info__size-picker__list li.unavailable .notify {
  text-decoration: underline;
  cursor: pointer;
}
.product-item-container__info__size-picker__arrow {
  grid-area: 1/3/span 1/span 1;
  height: calc(0.5rem + 0.5vw);
  width: calc(0.5rem + 0.5vw);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateY(-15%) rotate(-45deg);
          transform: translateY(-15%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.product-item-container__info__size-picker__arrow.active {
  -webkit-transform: translateY(30%) rotate(135deg);
          transform: translateY(30%) rotate(135deg);
}
.product-item-container__info__size-picker__title {
  grid-area: 1/1/span 1/span 1;
  padding: 0 10px;
  height: 100%;
  line-height: calc(4rem + 0.5vw);
  border-right: 1px solid black;
}
.product-item-container__info__button {
  grid-area: 4/1/span 1/span 1;
  background: #090909;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  height: calc(6rem + 0.5vw);
  cursor: pointer;
  align-self: center;
}
.product-item-container img {
  grid-area: 1/2/span 1/span 1;
  height: 70vh;
}
.product-item-container .placeholder {
  background: #f3f3f3;
  aspect-ratio: 1;
  grid-area: 1/2/span 1/span 1;
  height: 70vh;
  z-index: -2;
}

div.placeholder#placeholder {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #fafafa), color-stop(38%, #f4f4f4), color-stop(54%, #fafafa));
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
button:hover {
  opacity: 0.9;
}

/* 3. Mobile */
/* 4. Tablet *//*# sourceMappingURL=App.css.map */